[2020-07-31 05:56] rcavaliere opened #1 "A.1 Installation OTP"
Includes:
- [x] Analysis of open source components / libraries to be used for our pilot implementation

8.10: To do
-  [x]  Change https://otp.opendatahub.testingmachine.eu (production-> https://otp.opendatahub.bz.it)

[2020-07-31 06:00] rcavaliere opened #2 "A.1 Server Infrastructure Preparation"
- [x] create open source repository
- [x] create on spot instance for heavy load computation with minimal requisits
- [x] @bertolla makes initial commit
- [x] @zabuTNT and @stemove make the first PR
- [x] @bertolla sets up the whole test environment, including the Jenkins pipeline and an URL for the "native"front-end app end-point

[2020-07-31 06:03] rcavaliere opened #3 "A.2.1 OSM data import process"

[2020-07-31 06:04] rcavaliere opened #4 "A.2.2/3 GTFS(-R) data availability preparation"
- [x] STA will prepare us a full GTFS export with line geometries, multilingual names, etc. (by 23.10.2020)
- [x] STA (Mentz) is developing the GTFS-R which we can connect with (by Mid November)

@rcavaliere checks if also the notifications service is supported

[2020-07-31 06:05] rcavaliere opened #5 "A.2.4 GBFS converter implementation"
Limited to bike sharing service of Merano

[2020-07-31 06:06] rcavaliere opened #6 "A.2.5 GTFS-Flex data availability preparation"
- [ ] Open tendering procedure opened by SASA
- [ ] Offers evaluation and supplier choice
- [ ] On-demand back-end + interface setup

[2020-07-31 06:10] rcavaliere opened #7 "A3 Automatic mechanisms for non-real-time data import"

[2020-07-31 06:11] rcavaliere opened #8 "A5 Front-end application prototype development"
- [x] Analysis of demo apps made available by the OTP community
- [x] 1st version of front-end app implementation (includes dockerization -> this should include connection with our prototype back-end OTP installation)
- [x] 1st version deployed -> https://journey.opendatahub.testingmachine.eu (testing environment)
- [x] 2nd version of front-end app implementation (includes GBFS Feed) by @zabuTNT a

[2020-07-31 06:21] rcavaliere commented on #7
@rcavaliere test

[2020-07-31 06:29] rcavaliere commented on #7
@rcavaliere test notification

[2020-07-31 15:49] rcavaliere opened #9 "A2.2 GTFS data import process"
Forseen tasks:
- [ ] GTFS validation
- [ ] Image building and graph creation

[2020-08-15 04:57] rcavaliere commented on #4
@bertolla
First GTFS export to be tested is available here: https://cloud.opendatahub.bz.it/index.php/s/MRsMxr8wkNW3Xpd

[2020-08-30 05:12] rcavaliere commented on #2
Next steps:
- [ ] @bertolla makes a fake "PR"
- [ ] @zabuTNT and @stemove make the first PR
- [ ] @bertolla sets up the whole test environment, including the Jenkins pipeline and an URL for the "native"front-end app end-point

[2020-08-30 05:14] rcavaliere commented on #4
@rcavaliere will check quality of available GTFS through the OTP native front-end and will evaluate with STA the possibility to have a full GTFS exports with all planned data and geometry information included. In this case, a new build of the OTP instance has to be computed.

[2020-08-30 05:17] rcavaliere commented on #1
Based on #2. Future builds of OTP will be managed in separate user stories

[2020-09-10 05:32] rcavaliere opened #11 "A2.6 OTP geocoding mechanism adaptation"
- [x] Geocoder
- [x] Interface with ODH Tourism (POIs)
- [ ] Verification of correct interface
- [ ] Testing

[2020-09-10 13:20] stemove commented on #4
uploaded a first backup of OTP Graph based on gtfs above:
https://cloud.opendatahub.bz.it/index.php/s/MRsMxr8wkNW3Xpd
Graph-merano.backup.obj.gz

[2020-09-10 13:39] stemove commented on #3
this is a list of companies that could offer osm data download services in a reliable way
https://wiki.openstreetmap.org/wiki/Commercial_OSM_Software_and_Services
what the project needs is an [Overpass server](https://wiki.openstreetmap.org/wiki/Overpass_API) that has the ability to provide data from a certain arbitrary boundingbox, currently our solution uses free servers

[2020-09-10 14:34] rcavaliere commented on #8
The front-end app was chosen (OTP React Redux). Next step is to prepare the dockerization

[2020-09-10 14:35] rcavaliere commented on #1
We have to remember to block the default front-end (when the new one is available)

[2020-09-28 11:37] stemove commented on #8
hi @alexlanz

I built a working docker version of the new UI.
For now I have included everything necessary in the directory: `` `otp-app``` here:
https://github.com/openmove/odh-mentor-otp/tree/otp-react-redux/otp-app

It works in standalone with a integrated nginx in the service that exposes everything in a different port from the OTP REST Api.

I was studying your other projects and boilerplates

[2020-09-28 11:39] stemove commented on #8
P.S.
this component has no server side parts.
it's a completely static javascript application.
the only serverside part is a nginx that I added to be able to use it autonomously

[2020-09-30 09:24] alexlanz commented on #8
Hi @stemove,

it's not a problem to add a separate building job for the frontend. However, when there are only static files that should be hosted, then we normally put them on a S3 bucket. An example could be found here: https://github.com/noi-techpark/davinci-innovation-scoreboard-web

What are the explict requirements? Do you need any help or is the link/example already enough?

[2020-10-08 09:21] rcavaliere commented on #4
Updates from STA:
- [ ] STA will prepare us a full GTFS export with line geometries, multilingual names, etc.
- [ ] STA (Mentz) is developing the GTFS-R which we can connect with

[2020-10-08 09:22] rcavaliere opened #14 "A.2.2 New OTP build with full GTFS"
-  [x] Run new build with full GTFS

[2020-10-08 09:24] rcavaliere opened #15 "A.2.3 Connection with GTFS-R feed"
Thanks to the GTFS-R Feed we should be able to see real-time data as well

[2020-10-08 10:27] stemove commented on #4
@rcavaliere do you know which datasource they are extract line geometries?

[2020-10-08 10:28] rcavaliere commented on #4
@stemove they do everything in DIVA

[2020-10-08 13:16] rcavaliere commented on #5
Next steps:
- [ ] sharing of GBFS profile proposal by @zabuTNT @stemove
- [ ] review by @rcavaliere
- [ ] converter finalization, with creation of separate feeds by @zabuTNT and @stemove
- [ ] testing, documentation, integration in OTP

[2020-10-08 13:24] rcavaliere commented on #7
@bertolla will implement this mechanism once the shared repository (where the GTFS exports are periodically uploaded) with STA is implemented

[2020-10-08 13:26] #2 closed

[2020-10-08 13:38] rcavaliere commented on #8
Decision: separate docker for the front-end application

[2020-10-09 15:00] bertolla commented on #8
@rcavaliere
As I tried to setup the client I noticed that the source code is only in part in our repository.
[code]
Those are forks of the main official repositories but I thought we would be the once hosting the changes made on it. Maybe there is also a logical reason why it was done like this, we could also fork it but it would mean not following our general rules.

[2020-10-09 15:07] zabuTNT commented on #8
Hi @bertolla ,
this is temporary because I'm working on it. I'm not totally sure about otp-react-redux, because there are some limitations and "american system" hardcoded inside. Temporary we can us it as a "demo" and see what is interesting and what not for future development.

[2020-10-09 16:00] rcavaliere commented on #8
@bertolla @zabuTNT I agree with @zabuTNT. Let's integrate this PR, so we can see the prototype client working. With further PR will will deepen out all such dependancies and understand together how to manage them

[2020-10-21 13:06] zabuTNT commented on #5
This is an example of GBFS files generated by our GBFS service
https://github.com/openmove/odh-mentor-otp/tree/development/gbfs

The GBFS reference version is the 2.0.

[gbfs-mentor.zip](https://github.com/noi-techpark/odh-mentor-otp/files/5415966/gbfs-mentor.zip)

[2020-10-22 14:10] stemove commented on #3
@bertolla
I'm just uploaded a one file version of osm data here:
https://cloud.opendatahub.bz.it/index.php/s/MRsMxr8wkNW3Xpd?path=%2F
osm-all.tar.gz 294.3 MB
you can try to use it for building a new Graph.obj faster.
Uncompress it inside data directory and the other .osm files must be moved out of the given directory
In this way the creation time of the graph could be reduced.

[2020-10-22 16:16] rcavaliere commented on #1
I close this issue even if there is the open point to be solved... I don't find it critical to have also the default end-point available, the important thing is that the new client is up and running

[2020-10-22 16:16] #1 closed

[2020-10-22 16:21] rcavaliere commented on #8
Status:
- testing client deployed on https://journey.opendatahub.testingmachine.eu/
- @zabuTNT has presented a second version of the client with GBFS-Feed integrated (in localhost)

Next steps are updated in the user story description

[2020-10-22 16:31] rcavaliere commented on #5
Feedback on GBFS-Feed proposal:

- GBFS-Feed for Municipality of Merano -> optimal solution would be to use GBFS v2.1 RC (see https://github.com/NABSA/gbfs/pull/219). @zabuTNT has implemented a workaround with GBFS v2.0 in which also stations with very high availability are defined. We have decided to maintain this solution and to implement also the "optimal solution" (could be an additional servi

[2020-10-22 16:37] rcavaliere opened #16 "A.2.4 GBFS-Feed v2.1"
Implementation of an additional feed which uses specification v2.1 for the bike sharing data of Merano

[2020-10-22 16:44] rcavaliere opened #17 "A5 Multilingual front-end application"
This user story covers the enhancement of the front-end application so that it is multilingual (content). Actually done; translations can be prepared and uploaded by NOI and should be easily configurable in the source code (e.g. through proper config files)

[2020-10-27 09:06] bertolla commented on #3
I did so. The graph calculation now takes around 7 minutes instead of ~ 10

[2020-10-27 10:11] stemove commented on #3
Damn! I was hoping for less time :(

[2020-10-30 09:49] #3 closed

[2020-11-05 07:18] rcavaliere commented on #14
Good news: we got today the full GTFS export, available here: https://cloud.opendatahub.bz.it/index.php/s/j9MpiMz3DEDwtgs
Let's discuss today how to organize the new OTP build

[2020-11-05 11:21] stemove commented on #17
@rcavaliere
I uploaded these two sample files in your cloud that you can use to produce the German translation
https://cloud.opendatahub.bz.it/index.php/s/MRsMxr8wkNW3Xpd?path=%2F
```language_en.js```
```language_it.js```

[2020-11-05 16:47] rcavaliere commented on #11
For the evaluation of the POI ODH integration, please consider these requests:

- https://tourism.opendatahub.bz.it/api/Accommodation?language=de&poitype=447&active=true&fields=Id,AccoDetail.de.Name,AccoDetail.de.City&pagesize=10000

- https://tourism.opendatahub.bz.it/api/Poi?language=de&poitype=447&active=true&fields=Id,Detail.de.Title,ContactInfos.de.City&pagesize=20000

- https://tourism.opend

[2020-11-05 16:52] rcavaliere commented on #5
GBFS-Feed is part of the new version of the client.
Additional metadata is going to be part of the version 2.1 (we have to remember to update the metadata part for the GBFS-Feed coupled with the client)

[2020-11-06 08:36] bertolla commented on #14
I let the script go yesterday already I'm not sure the outcome is as expected. In any case I downloaded the logfile of the calculation if needed. See https://journey.opendatahub.testingmachine.eu/

[2020-11-06 12:43] rcavaliere commented on #14
@bertolla I don't think that we are now seing the data provided by the new GTFS export... can you provide us some more details of the results you obtained at the end of the build?

[2020-11-06 15:41] bertolla commented on #14
I took the zip file you uploaded ~111MB and replaced it(I renamed it to fit the original to avoid to change the pipeline) in the data folder. I run the calculations for the new Graph and according to the log files it got included for the calculations.

[2020-11-07 07:36] rcavaliere commented on #14
@bertolla I am not sure that the client now shows the new GTFS export yet. @zabuTNT @stemove can you confirm this?
I would proceed in that way:
- [ ] successfully complete the build of the OTP graph (based on new GTFS export)
- [ ] integrate the new PR which integrates also the bike sharing data (GBFS feed)

[2020-11-09 09:47] zabuTNT commented on #14
Hi @rcavaliere @bertolla ,
the graph is the old one, with old data. If you go here:
https://otp.opendatahub.testingmachine.eu/otp/routers/openmove/

you can see the build graph date:
```<buildTime>1603729881302</buildTime>```
so: 26/10/2020

And again if you go here:
https://otp.opendatahub.testingmachine.eu/

you can plan a test travel from A to B (free to possible constrains of our webapp) , and

[2020-11-09 11:55] bertolla commented on #14
I thought so, but I checked and the last graph in the data folder was created on 5. Nov. See:
![Screenshot from 2020-11-09 12-52-09](https://user-images.githubusercontent.com/3582457/98538162-a2f92400-228a-11eb-99f0-c90e74a628fd.png)

Maybe the small otp instance needs to restart to make it available or some other kind of trigger to use the new generated graph.

[2020-11-09 12:47] bertolla commented on #14
I restarted the instance and now it's working. So I guess we need to trigger the loading in memory of the new graph to the live otp instance or we won't see when graph update.

[2020-11-09 12:50] rcavaliere commented on #14
@bertolla nice, now it's seems to be the right GTFS file. But we stil don't see bikesharing data integrated, isn't @zabuTNT and @stemove?

[2020-11-09 12:52] bertolla commented on #14
One step after another.
I'm doing it like this:
- [ ] make new graph file work
- [ ] trigger index update for 2nd otp instance
- [ ] adapt pipelines for new container
- [ ] deploy new version on test environment

[2020-11-09 13:23] bertolla commented on #14
I guess we can trigger the reload by doing a simple put on this endpoint after graph calculation. I tried with curl, and it worked:
curl -i  -X PUT -H 'Content-Type:applicaton/json' "https://otp.opendatahub.testingmachine.eu/otp/routers/openmove"

[2020-11-09 13:39] bertolla commented on #14
The bikesharing data is in another issue

[2020-11-09 13:40] #14 closed

[2020-11-09 14:38] zabuTNT commented on #14
hi @bertolla,
don't use PUT in order to reload the graph. That open OTP to security issues.

With the new pull request otp start with the **autoreload graph detector**, and without the possibility to use PUT/DELETE/POST for security reason.

So in the future you don't have to reload the graph manually.

[2020-11-09 15:00] bertolla commented on #14
Nice didn't know about that. I will undo that change and redeploy. Thanks

[2020-11-10 10:06] bertolla commented on #8
I deployed the gbfs container and opened the API outwards. It's reachable at:
https://gbfs.otp.opendatahub.testingmachine.eu/

An example call is:
https://gbfs.otp.opendatahub.testingmachine.eu/bz/station_status.json

I run the graph calculation again and redeployed all containers. The new version is out but I can't really see the bike data anywhere. Did I miss something?
Furthermore, with the new

[2020-11-10 12:15] bertolla commented on #8
I kind of fount out now by going through the code. The settings for gbfs need to be made when creating the graph, not when deploying journey, so I had to redo some things.

[2020-11-12 12:39] zabuTNT commented on #8
Hi @bertolla,
exact, gbfs url must be set up when you build the graph.

In order to check if you have real-time updaters for your otp instance you can query the API:

```https://<you-otp-instance>/otp/routers/openmove/updaters```

[2020-11-12 13:45] stemove commented on #11
Accomodation it's ok:
https://tourism.opendatahub.bz.it/api/Accommodation?language=de&poitype=447&active=true&fields=Id,AccoDetail.de.Name,Latitude,Longitude&pagesize=10

But POI and ODHActivityPoi  don't have required fields: Latitude,Longitude(for centering map on results)
http://tourism.opendatahub.bz.it/api/Poi?language=de&poitype=447&active=true&fields=Id,Detail.de.Title,Latitude,Longitude&pa

[2020-11-12 13:58] stemove commented on #11
mmh ok POI have a subfield named GPSInfo:
http://tourism.opendatahub.bz.it/api/Poi?language=de&poitype=447&active=true&fields=Id,Detail.de.Title,GpsInfo&pagesize=200

[2020-11-12 14:00] rcavaliere commented on #11
Yes, for ODHActivityPoi have a look at this: https://tourism.opendatahub.bz.it/api/ODHActivityPoi/smgpoi107?language=de

[2020-11-12 14:01] rcavaliere commented on #11
For POI: https://tourism.opendatahub.bz.it/api/Poi/2379CD9828158D300CF0C677EF6431FA?language=de

[2020-11-12 20:23] rcavaliere commented on #5
@zabuTNT @stemove @bertolla I have seen that the new client prototype new shows the bikesharing function, but this seems not to work. Bike sharing data are not visualized, and I see something strange in the texts (all $)

[2020-11-13 07:51] zabuTNT commented on #5
hi @rcavaliere,
if you go there it seems that in the graph there are no updaters:
https://otp.opendatahub.testingmachine.eu/otp/routers/openmove/updaters

We'll support @bertolla if need.

Regarding the texts with $, these are the string that have to be replaced by the translation system, now we'll check it.

[2020-11-16 08:15] bertolla commented on #8
During build of the graph the GBFS_HOST was set to https://gbfs.otp.opendatahub.testingmachine.eu/ and
the port to 443.
These are the changes I made for our environment: https://github.com/noi-techpark/odh-mentor-otp/compare/development...pipelines

Did I miss out on something?
Is everything described in the README to make it work correctly?

[2020-11-16 15:31] zabuTNT commented on #8
Hi @bertolla,
are you sure that you are running the correct graph built with the updaters?
Because if I go here:
https://otp.opendatahub.testingmachine.eu/otp/routers/openmove/

I read that the build date is 1605004118321, that is the 10/11/2020, 6 days ago.
And
https://otp.opendatahub.testingmachine.eu/otp/routers/openmove/updaters
says that no updaters are set.

So I think that you are running t

[2020-11-19 07:49] bertolla commented on #8
Yes, a file named router-config.json was generated in the data folder and it contains following lines:
[code]
The last graph which I run was after I merged the pull-request.
The autoReload command should be ok. Even if I restart the container manually, nothing changes.
Should there be any new Files in the `openmove` folder?
Right now there is just `Graph.obj`
You still should have access on the se

[2020-11-19 09:06] zabuTNT commented on #8
@bertolla

Correct. Because when you build the graph `embedRouterConfig` default is `true`.
https://docs.opentripplanner.org/en/latest/Configuration/#graph-build-configuration
So the graph contains already all the information written in router-config.json. If you want you can move router-config.json inside openmove side by side with the graph.

Yes, I'm going to check the logs of otp startup.

[2020-11-24 08:26] bertolla opened #20 "Strange call to docker causes crash of client app"
For some strange reason the client app crashes after doing some strange call to docker02.testingmachine.eu. I guess there is something to configure on the otp app to avoid this. This happens only in chrome for me, but the wrong call is also been done on other browsers.
![strangecall](https://user-images.githubusercontent.com/3582457/100067871-137d7480-2e37-11eb-9da3-fb0e22d0b67c.png)

[2020-11-24 08:28] bertolla commented on #8
@rcavaliere
Bikesharing data seems to be working now.

[2020-11-24 21:50] rcavaliere commented on #8
@bertolla @zabuTNT, yes I see the data, but I am not sure that the journey planner is working as expected with the bike sharing data... @zabuTNT can you please have a look and give me a feedback?

[2020-11-25 12:20] zabuTNT commented on #8
Hi @rcavaliere,
what did you mean? It seems correct to me in Bozen. Maybe in Meran cause the free floating system? I'll check it and eventually I will fix this with the refactor for 2.1 version.

[example](https://journey.opendatahub.testingmachine.eu/#/?ui_activeSearch=b76xan0pl&ui_activeItinerary=0&fromPlace=46.49672%2C%2011.35804%3A%3A46.49672%2C11.35804&toPlace=46.50489%2C%2011.33566%3A%3A46.5

[2020-11-25 12:36] zabuTNT commented on #16
Hi @rcavaliere ,
in order to proceed with this implementation I need the following data:

- Meran docking stations center position (lat/lng),  a name for the station and the area (poligon) for the drop-off
- For e-bike I need the furthest distance in meters that the vehicle can travel without recharging (at least an average value)
- rental apps link in the stores android/ios if exist for Meran/Boz

[2020-11-25 13:41] rcavaliere commented on #8
OK, I checked Merano and I didn't manage to find a use case in which the trip planner suggests a bike sharing trip....

[2020-11-26 08:09] zabuTNT commented on #8
Hi @rcavaliere
probabably it's because the end-start point and the positions of the bikestations, if you are near the bikestations and/or set Optimize by Speed in the preferences I get a result.

![2020-11-26-090524_685x543_scrot](https://user-images.githubusercontent.com/5268372/100323794-8d903380-2fc6-11eb-8a65-0926251faa39.png)

![2020-11-26-090057_1806x934_scrot](https://user-images.githubuser

[2020-11-26 21:03] rcavaliere commented on #8
@zabuTNT I see, it's a configuration setting... thanks for the notice, useful to understand the logic behind!

[2020-11-26 21:15] rcavaliere commented on #16
Hi @zabuTNT, here the replies to your requests:

- all relevant information are available in the attached CSV file (parking.csv.zip)
- [parkings.csv.zip](https://github.com/noi-techpark/odh-mentor-otp/files/5604987/parkings.csv.zip)
- let's put here just an estimate, let's say 20 kilometers
- rental apps:
- Merano (Android): https://play.google.com/store/apps/details?id=de.moqo.work&hl=en_US
- Mer

[2020-12-02 05:35] rcavaliere commented on #5
@zabuTNT @stemove @bertolla do we have a specific end-point in order to get the whole set of JSON files related to the GBFS Feed, so that I can check their content?

[2020-12-02 05:41] rcavaliere commented on #8
@bertolla I see that the end-point https://journey.opendatahub.testingmachine.eu/ is at present down... can you please check? In the last days we saw that the application was a little unstable, after a minute or so that you were navigating through the APP you could a kind of server error, with the need to refresh the page in order to restart the application. We need to fix these infrastructure iss

[2020-12-02 08:25] zabuTNT commented on #5
Hi @rcavaliere,
they should be these, but now they are down? @bertolla ?

Bozen:
https://gbfs.otp.opendatahub.testingmachine.eu/bz/gbfs.json
Meran:
https://gbfs.otp.opendatahub.testingmachine.eu/me/gbfs.json

here you find the urls of others json as defined in GBFS reference. It is not foreseen by the specification to distribute the entire set via .zip for example, but the data must always be gene

[2020-12-02 09:18] bertolla commented on #8
Testenvironments are never stable 100% of the times. In this case another new app filled the storage and the server crashed. In any case we are back online. I already created an issue for problem you encountered: #20

[2020-12-02 09:39] rcavaliere commented on #20
@zabuTNT and @stemove can you please have a look at this?  Do you have an idea about the problem causing this?

[2020-12-02 09:44] rcavaliere commented on #8
@bertolla thanks.
Let's limit this story to aspects that have to be improved in terms of supported functionalities. I have put a list in the US description. It's only a partial list since testing the application with issue #20 in place is difficult. Maybe some of the issues are related to the same problem. @zabuTNT and @stemove can you please check this?

[2020-12-09 09:29] zabuTNT commented on #20
@stemove
I think that the issue is here in the index, cause the redirect from the home page.

https://github.com/noi-techpark/odh-mentor-otp/blob/development/otp-app/app/lib/index.tpl.html#L63

[code]

Maybe this create a loop because the homepage is like that:
https://journey.opendatahub.testingmachine.eu/#/
and try to become /#/it

so in order to work I think that we have to change the redirect

[2020-12-10 10:48] bertolla commented on #20
Thanks for the input. Currently I used this workaround https://github.com/noi-techpark/odh-mentor-otp/commit/a72d942b32dea802a3eb075caabf79ab975cc0d7 but to me it seems a nginx issue which does an unwanted redirect. Maybe there is some configuration we could make but I wouldn't know about it.

[2020-12-10 14:20] stemove commented on #20
hi @bertolla

I am investigating the possible cause of the problem, but the main problem is that I can't replicate the bug in local in any way (even changing my hostname)

I also had thought of a similar thing but in reality the nginx configuration is very simple and used simply to provide resources on all the resources required without any redirects:
[code]

the modification suggested by @zabuTNT

[2020-12-17 15:34] zabuTNT commented on #8
Sorry for the late answer, but I think that this is because in the new GTFS the bikes_allowed column is empty in trips.txt:
[code]

[2020-12-17 17:37] rcavaliere commented on #8
@zabuTNT ok I understand, but what about PT + bikesharing? In this case the transport of bikes is not necessary...

[2020-12-18 10:51] zabuTNT commented on #8
@rcavaliere maybe it's fixed with the last GBFS, but in this case OTP try to use the quickest trip, and obviously, if your origin and /or destination is near a bus stops, why you should use a bike? The bus will be always quicker. This depends of the positions of the stops and the frequencesies of the services.

Probably a solution in order to see a PT+bikesharing could be setting to avoid the buse

[2020-12-18 13:00] #9 closed

[2020-12-18 13:09] #20 closed

[2020-12-18 13:17] rcavaliere commented on #8
@rcavaliere will make a final test when the new GTFS is available

[2020-12-18 13:17] #4 closed

[2020-12-18 13:44] rcavaliere commented on #11
@bertolla will check with @RudiThoeni the correct functioning of the ODH Tourism API calls

[2020-12-18 14:22] rcavaliere opened #23 "Consolidated solution for indesired redirect caused by reverse proxy"
Related to issue #20, user story aims to find and implement a consolidated solution for this problem

[2020-12-22 07:48] bertolla commented on #11
I deployed the new version of the otp bundle and made the geocoder available through
https://geocoder.otp.opendatahub.testingmachine.eu/
OTP has the env var set GEOCODER_BASEURL=https://geocoder.otp.opendatahub.testingmachine.eu/
I'm not sure if it's working correctly and I don't see changes on http://journey.opendatahub.testingmachine.eu/
@stemove could you check if the geocoder is working as exp

[2020-12-22 09:43] stemove commented on #11
hi @bertolla

I see that the online web interface makes requests to localhost:
![Screenshot at 2020-12-22 10-37-46](https://user-images.githubusercontent.com/31170657/102874039-36a14100-4442-11eb-89e9-d14e7f563752.png)

each edits of config vars in the Journey service requires a rebuild of the image because the values of the vars are included in the javascript built for the application

probably o

[2020-12-22 10:03] stemove commented on #11
geocoder deployed work fine:
https://geocoder.otp.opendatahub.testingmachine.eu/v1/autocomplete?boundary.rect.min_lat=46.18828&boundary.rect.min_lon=10.470121&boundary.rect.max_lat=47.08878&boundary.rect.max_lon=12.255011&text=MERAN

this request finds some results(in Pelias format)
[code]

[2020-12-22 10:48] bertolla commented on #11
Thx for the fast reply.
I didn't have it as build argument and the url was missing the "/v1". I just redeployed, so it should work once the pipelines finishes.

[2020-12-23 05:58] rcavaliere commented on #11
@bertolla @stemove good! I have tested the client and it seems to me that now the geocoder is correctly interrogated. However, the user experience is still not the expected one, if I type "hotel" I would expect a longer list of hotel coming from our Accomodation API. But probably this is related to the issues we discussed together last week in relation to filter search. Correct?

[2021-01-21 21:51] rcavaliere commented on #11
Further details:
l'ordine e la quantita' di risultati e' configurabile, dal file:
https://github.com/noi-techpark/odh-mentor-otp/blob/development/geocoder/config.yml#L35
mentor-geocoder.png
modificando l'ordine in cui si trovano le sezioni nel file yaml: opentripplanner, accommodations, pois ecc
viene modificato anche l'ordine in cui viene mostrato il risultato dall'alto verso il basso, quindi di

[2021-01-22 07:49] rcavaliere commented on #8
Updates: GTFS-RT end-point available: https://efa.sta.bz.it/gtfs-r/?FORMAT=json
Next week they will generate the new GTFS export. We can then make a new build (including the reference to the new RT feed) and complete testing

[2021-01-22 08:49] Piiit commented on #8
blocked, because we are missing the new GTFS data

[2021-01-22 11:49] zabuTNT commented on #8
@rcavaliere I opened the GTFS-RT but it seems that there aren't Entities

[code]

then, but very important, when you set the GTFS-RT for OTP, the URL you set have to return a protobuffer file, so this url:

`https://efa.sta.bz.it/gtfs-r/`

not this:

`https://efa.sta.bz.it/gtfs-r/?FORMAT=json`

[2021-01-22 17:45] rcavaliere commented on #8
@zabuTNT sure! I wanted to share the JSON version so to let you give the possibility to check the data.

The end-point is empty since there is no matching with the planned data (the new GTFS export has still to be built)

By the way, can you please indicate us how we can configure the new GTFS-RT feed, maybe directly in issue https://github.com/noi-techpark/odh-mentor-otp/issues/15?

[2021-01-25 15:02] stefanocudini commented on #8
@rcavaliere I try to send you soon as possible a new PR with the new variable to configure GTFS-RT

[2021-01-25 21:34] rcavaliere commented on #15
@bertolla can you please integrate this PR? It's related to the configuration of the GTFS-Realtime Feed
https://github.com/noi-techpark/odh-mentor-otp/pull/24

[2021-01-26 08:30] zabuTNT commented on #15
Regarding this we introduced two env variable.
GTFS_RT_URL is the URL to a protobuffer file with trip_updates entities.
And, GTFS_FEED_ID, it's very important to understand what it is, **because you will not find documentation about this**. An OTP graph could be composed by many GTFS files. For each of these files OTP assigns an Id, the feed_id. Why? Because nothing prevents for example a route_id

[2021-01-26 08:51] bertolla commented on #15
@rcavaliere I checked it, took it in and deployed on the server.
@zabuTNT So this should also be part of our the documentation I guess?

[2021-01-26 10:33] zabuTNT commented on #15
@bertolla I wrote a recap inside the README about this.
https://github.com/noi-techpark/odh-mentor-otp/blob/development/README.md#building-arguments
I don't know if you want write this extend explanation somewhere, because as I said probably you will use only a GTFS file.

[2021-01-26 14:06] rcavaliere commented on #15
@zabuTNT that's very valuable information.
I don't know if we are going to be the only GTFS data consumer... I don't think so in the long term period, we will see... :-)
However it's good to have everything in the README, so that we can reuse it in the Open Data Hub documentation, in case we will do it.

[2021-01-26 14:20] rcavaliere commented on #7
@bertolla @zabuTNT @stefanocudini finally we have the new GTFS export:
https://cloud.opendatahub.bz.it/index.php/s/j3qetDsFde6H2pR

@bertolla can you run the OTP graph with this new export? We should then see all data with shapes. The real-time data is available on all trains and city bus services in Bolzano and Merano (SASA)
@zabuTNT and @stefanocudini can you please check that the coupling plann

[2021-01-28 14:35] bertolla commented on #7
Should be working correctly now.
Cheers,
Patrick

[2021-01-28 16:44] stefanocudini commented on #7
hi @bertolla

in your infrastructure config here:
https://github.com/noi-techpark/odh-mentor-otp/blob/development/infrastructure/docker-compose.run.calculate.yml
missing this environment var:
```GTFS_RT_URL=https://efa.sta.bz.it/gtfs-r/```

for our PR we refer to the operation of the docker-compose.yml file
I don't modify the rest of the configuration inside ```infrastructure``` because I have no

[2021-01-28 16:57] zabuTNT commented on #7
@bertolla not only GTFS_RT_URL, but GTFS_FEED_ID miss too.

[2021-01-29 17:03] bertolla commented on #23
I finally took some time to look into, and I think I understand the problem a bit better. The current nginx config is:
[code]
At this point with such an url `http://journey.opendatahub.testingmachine.eu/en` the nginx server first tries to serve it as file and than as folder doing a forward. He responds to the client with 301 Moved and the location header is `http://docker01.testingmachine.eu/en`.

[2021-02-02 13:24] stefanocudini commented on #7
hi @rcavaliere @bertolla  I have a another suggestion for the generation of _shapes.txt_ within the new gtfs.
This is a row sample:
`` csv
"0-108-21a-1.1.R", "46.1982403962238", "11.1253506643881", "26", "1199.96"
``
the shapes.txt file is large 191MB, I believe that a good part of this size is to an excessive number of decimal digits to describe the coordinates.
We have evaluated that a good comp

[2021-02-04 21:02] rcavaliere commented on #15
@bertolla @zabuTNT @stefanocudini I don't see real-time data anymore... any idea why?

[2021-02-04 21:11] rcavaliere commented on #11
The geocoding feature is unfortunately not so performant at the moment. We should probably discuss with @RudiThoeni
Can we test the STA filter also here?

[2021-02-04 21:19] rcavaliere commented on #7
@stefanocudini good input. Looking at the GTFS data I think there is something to improved, for example the shapes are not properly visualized in all types of search. But could this be related to the client, and not to the GTFS dataset?

[2021-02-04 21:22] rcavaliere commented on #7
OK, what now we miss is to start with STA the automatization of the new imports of GTFS files. But let's first close the other issues, such as #8, #11 and #15

[2021-02-05 08:20] zabuTNT commented on #15
@rcavaliere Hi, it seems that GTFS-R are empty:
https://efa.sta.bz.it/gtfs-r/?FORMAT=json

[code]

[2021-02-05 14:23] bertolla commented on #11
There is no STA filter. STA gets a cached json off all data once a day. Rudi also told me that currenty  3 api calls are done by the geocoder but only 2 are needed since one is just a query on the smaller dataset. I'm also not sure if the API is the bottleneck since the db calls now are fast. 15ms per query.
We can also increase the result set if needed. How many results do you expect to see? Curr

[2021-02-09 13:55] bertolla commented on #11
I removed the superfluous call and noticed that the pagesize filter of the accomadation call is not working as expected, it always returns all:
https://tourism.opendatahub.bz.it/api/Accommodation?language=de&poitype=447&active=true&fields=Id,AccoDetail.de.Name,AccoDetail.de.City&pagesize=5&searchfilter=Hotel
Maybe @RudiThoeni  can fix this as soon as he's back.

[2021-02-11 15:15] rcavaliere commented on #15
This issue should be solved now, the unavailability of the GTFS-R data was due to an upgrade of some Mentz components related to the production of the GTFS-R feed

[2021-02-11 15:15] #15 closed

[2021-02-11 15:23] rcavaliere opened #25 "No real-time data on the journey details?"
When I ask for the details of a journey with real-time data, I would expect to see the real-time travel times at the bus stops. Is it not here the case, see example?
![1](https://user-images.githubusercontent.com/9825179/107657626-9c14ef80-6c85-11eb-94f7-2f2feebf26a5.png)
![2](https://user-images.githubusercontent.com/9825179/107657633-9e774980-6c85-11eb-9da9-a794dff23695.png)

[2021-02-11 15:29] rcavaliere opened #26 "If I open the "show" option of a journey detail, related to the a single bus stop, I get an empty page"
![2](https://user-images.githubusercontent.com/9825179/107658416-66243b00-6c86-11eb-886a-de1716401377.png)
![3](https://user-images.githubusercontent.com/9825179/107658425-67edfe80-6c86-11eb-9cfa-139fd91bbfd1.png)

[2021-02-11 15:52] rcavaliere opened #27 "Bike sharing data not anymore visible?"
I remember that when I activate the layer, it was possible to see the data on the map... I can't also see any trip results with bike sharing, even in the case I want to plan a trip with this transport mode only.

Ok, this is why: https://gbfs.otp.opendatahub.testingmachine.eu/me/gbfs.json -> Service unavailable

[2021-02-11 15:56] rcavaliere opened #28 "If I open the "route viewer" option (top left), the application opens a blank page"
![6](https://user-images.githubusercontent.com/9825179/107662056-2f502400-6c8a-11eb-91cb-f0982e217c61.png)
 I assume it is somehow related to the non-functioning of departure board views that can be opened in the application from different points

[2021-02-11 16:20] zabuTNT commented on #25
Hi @rcavaliere
if i remember, the real-time data are visible in the planned recap (first screenshot) and inside the details of the stop, not in the details of the trip (second screenshot). I will investigate about it.

[2021-02-11 16:25] zabuTNT commented on #27
It seems that the gbfs server is down, 503 error.
https://gbfs.otp.opendatahub.testingmachine.eu/bz/1/gbfs.json
![2021-02-11-172527_1045x256_scrot](https://user-images.githubusercontent.com/5268372/107665856-295c4200-6c8e-11eb-977b-de3ad8e33b7d.png)

[2021-02-11 16:40] rcavaliere commented on #17
@stemove @stefanocudini I have seen that EN and IT translations are already integrated in the source code. Why are they not always visible in the application, and the '$' are visualized instead of them? For example, I see the translations on Firefox, but not on Chrome

[2021-02-11 16:44] rcavaliere commented on #6
Just info there: we are waiting for an API from the on-demand supplier of the service (UFT). Next step would be to integrate data in the ODH. We can then start to implement the adapter to GTFS-Flex

[2021-02-12 16:32] bertolla commented on #27
I checked this, seems like the docker container was stopped. Maybe accidentally by me. It works again

[2021-02-12 20:11] #27 closed

[2021-02-17 12:24] zabuTNT commented on #25
Hi @rcavaliere
I confirm that you see realtime data only in the planned recap and in the stop detail. Maybe we can view about this in front-end future enhancements.

![2021-02-17-132048_641x561_scrot](https://user-images.githubusercontent.com/5268372/108203549-f77e2c00-7122-11eb-8af7-0c6f8eacf027.png)

[2021-02-18 21:31] rcavaliere commented on #8
Seems that most of the open issues are solved now. Very good!

[2021-02-18 21:33] rcavaliere commented on #11
@bertolla @RudiThoeni we will have to check this together in our next sprint

[2021-02-19 08:53] RudiThoeni commented on #11
ok i will check it ;) i think it has to do with a hardcoded rule for the sta call

[2021-02-19 10:56] rcavaliere commented on #28
Seems to work now, the lines view seems to be empty but I assume that is a data completeness issue to be further investigated

[2021-02-19 10:56] #28 closed

[2021-02-19 10:57] #26 closed

[2021-02-19 10:58] #25 closed

[2021-02-19 10:59] #8 closed

[2021-02-23 09:08] RudiThoeni commented on #11
ok should be fixed now....
there was a simple if that identifies this call as call from sta, i have to improve here.....

[2021-02-23 12:41] bertolla commented on #11
Filter works now, but the call is still slow. You mean that with "improve"?
![image](https://user-images.githubusercontent.com/3582457/108844710-c1d2ba80-75dc-11eb-8de6-46dc5af901cd.png)

[2021-02-23 12:46] bertolla commented on #11
@stefanocudini I noticed that the web client starts a request every time one types. Is there not a way to improve this behavior? Like described here: https://stackoverflow.com/questions/4220126/run-javascript-function-when-user-finishes-typing-instead-of-on-key-up

[2021-02-23 12:56] stefanocudini commented on #11
@bertolla  yes sure! we can modify the frontend to add a debounce function, at this moment this behavior is not supported by the library used for the frontend, it is definitely one of the things to improve, along with the count number of results.
I have marked among the small todos

[2021-02-23 13:14] RudiThoeni commented on #11
@bertolla  now it should be fast..... i have to remove the gin index over the whole json otherwise the query planner is unable to take the search index......... not the solution but now its working better

[2021-02-24 12:43] bertolla commented on #11
The api calls are super fast now.
The geocoder itself sometimes goes in timeout if the data is not as expected like for example I got this exception searching for `Dant`:
[code]
This case should be handled by the geocoder.
I also think, I'm not sure about that, that you also need to pass Longitude and Latitude in `fields` so that geocoder gets that information.

[2021-02-24 21:20] rcavaliere commented on #11
@RudiThoeni I am not sure that the API provides the same results as for the web application of STA. E.g. if a search "hotel Laurin" I get "39100 Bolzano Bozen, Restaurant Laurin in the Parkhotel Laurin" as a result on suedtirolmobil, whereas I don't get results on this prototype application. Do you have a reason why we have this behaviour? I would expect to get results...

[2021-02-24 23:14] RudiThoeni commented on #11
there is a big difference
STA loads a json with All Accommodations and is doing the search by their implemented logic in javascript on the complete Json

The Api call here uses a searchfilter and the api directly filters
however if i pass hotel Laurin in the searchfilter i get results from the api, try this link........
https://tourism.opendatahub.bz.it/api/Accommodation?language=de&poitype=447&ac

[2021-02-25 06:40] rcavaliere commented on #11
Ah ok, thanks for this detail.
@stefanocudini do you have an idea why the client does not show the expected result in this specific case?

[2021-02-26 17:00] bertolla commented on #11
This is the current configuration for the geocoder :
https://github.com/noi-techpark/odh-mentor-otp/blob/c7ec36ca321672b957c2c523561b27bc2ce985e2/geocoder/config.yml#L22
I think it uses multiple sources but I don't get the prioritisation.

[2021-03-01 07:45] rcavaliere commented on #17
@stefanocudini I have updated the DE JSON translation file and integrated the PR, but I can still not see the German update translations yet. Is there anything else to configure?

[2021-03-01 08:46] stefanocudini commented on #17
only a rebuild of the journey image is required

[2021-03-01 08:48] rcavaliere commented on #17
@bertolla can you please do it, so we can see the client available in 3 languages and close this issue?

[2021-03-01 09:15] stefanocudini commented on #11
I'm checking this and sending you a PR soon to resolve

[2021-03-01 12:11] stefanocudini commented on #11
this PR https://github.com/noi-techpark/odh-mentor-otp/pull/32
solve the above bug..

[2021-03-01 12:18] stefanocudini commented on #11
about this..
I found that the problem is not in the geocoder module but in the client side library..  when searched text contains spaces.
I will look for a solution soon

[2021-03-01 13:53] bertolla commented on #17
I did it and also the last pull request

[2021-03-02 15:12] stefanocudini commented on #11
@bertolla I'm testing locally and it works, I realized that some environment variables were missing in your part of the infrastructure, I inserted them here:
https://github.com/openmove/odh-mentor-otp/blob/development/infrastructure/docker-compose.run.execute.yml#L44
but you should verify that it is also placed in your other infrastructure files

in a few minutes I will send a new PR that fixes so

[2021-03-02 20:47] rcavaliere commented on #11
Very good @stefanocudini! I think the issue is closed, the geocoder is working now as expected. Let's close this issue and in case of some further strange behaviours let's open dedicated issues

[2021-03-02 20:47] #11 closed

[2021-03-03 07:38] zabuTNT opened #34 "Routes: Long Names and Colors"
[code]

we suggest, in order to improve the visualization on client applications (this one, but also others in the future), to indicate in the routes also the "route_long_name" and the background and text colors, even if all the same.
In this way, misunderstandings or unilateral initiatives are avoided.

In above example it's difficult to understand what is the route 108 for a non-routine user.
Is

[2021-03-03 07:49] zabuTNT opened #35 "Shapes.txt: too much precision"
[code]

In the shapes.txt file there is too much precision: 13 decimals!
This generate a big file, but, most of all, this has a huge impact on clients side when they draw the shapes on maps.

with 7 digits you have a precision of 0.0000001 degree,  so ~1cm.
with 13 digits, 0.0000000000001 degree, ~1nm !

[2021-03-03 11:30] stefanocudini commented on #11
@rcavaliere @bertolla thanks for the quick feedback

here are some of the minor issues I had marked so far about geocoder UI behavior
https://github.com/openmove/odh-mentor-otp/issues?q=is%3Aissue+is%3Aopen+label%3Ageocoder

[2021-03-03 12:35] bertolla commented on #11
About this, I might have missed them when I set it up. I did not found this environment variables in the documentation and thought they would only be needed when building the images.
Would it be an idea to describe every container/service, the building args and the environment variables at runtime for each?

[2021-03-03 20:50] rcavaliere commented on #11
@bertolla @stefanocudini yes please, let's document everything needed!

[2021-03-04 08:23] stefanocudini commented on #11
@bertolla  absolutely good idea!

I'm updated documentation now it should be clearer, divided by container as  Patrick suggestion. Build arguments need only for _journey_ because it is a client module, all the others containers almost exclusively use environment variables used at run time.

Look at this new PR:
https://github.com/noi-techpark/odh-mentor-otp/pull/36

[2021-03-10 13:03] rcavaliere opened #37 "As an end-user I would like to see the mock-up / wireframes of the new front-end application based on OTP intermodal routing engine"
- [x] first proposal by Open Move
- [x] joint review during meeting 19.3

Next steps: review and finalization by Open Move:
- [x] review (e.g advanced settings)
- [x] colours (-> current mobility.meran.eu)
- [x] responsive (mobile view)

Final step
- [x] Merano mock-up consolidation (see open points list below)
- [ ] final review and approval by NOI (with Merano stakeholders)

[2021-03-10 17:33] rcavaliere opened #38 "Integration of car sharing data from the Open Data Hub in the Integration Layer"
![Screenshot from 2021-03-10 18-32-31](https://user-images.githubusercontent.com/9825179/110671759-30179f80-81cf-11eb-84b9-184e4c0ee752.png)
The user story deals with the back-end integration of the car sharing data.
The car sharing data is available at these end-points:

- https://mobility.api.opendatahub.bz.it/v2/flat,node/CarsharingStation
- https://mobility.api.opendatahub.bz.it/v2/flat,node/C

[2021-03-10 17:44] rcavaliere opened #39 "Integration of off-street /on-street parking data from the Open Data Hub in the Integration Layer"
![Screenshot from 2021-03-10 18-43-20](https://user-images.githubusercontent.com/9825179/110673161-ba143800-81d0-11eb-92ee-5dfce5717ca0.png)
The user story deals with the back-end integration of the parking data. Both off-street and on-street parking data is to be considered.
The parking data is available at these end-points:

- Off-street parking data: https://mobility.api.opendatahub.bz.it/v2/fl

[2021-03-10 17:50] rcavaliere opened #40 "Integration of e-mobility charging data from the Open Data Hub in the Integration Layer"
The user story deals with the back-end integration of the e-mobility charging stations data.
The e-mobility data is available at these end-points:

- https://mobility.api.opendatahub.bz.it/v2/flat,node/EChargingStation
- https://mobility.api.opendatahub.bz.it/v2/flat,node/EChargingPlug

Please note that "plugs" are associated to the "stations", so that it is possible to know exactly not only the s

[2021-03-10 18:00] rcavaliere opened #41 "As an end-user I would like to integrate the full OTP back-end / front-end stack with the bike sharing data of provider Papin Sport"
End-point: https://mobility.api.opendatahub.bz.it/v2/flat,node/BikesharingStation/*/latest?where=sorigin.eq.%22BIKE_SHARING_PAPIN%22

This is actually a bike rental service, which just provides information about the availability of the bikes (and the fact if the structure is open or not). The data should be integrated properly so to create a separate GBFS Feed to be integrated in the routing engin

[2021-03-12 07:57] zabuTNT opened #43 "Stops.txt: describe stops relationships"
I suggest in situations like Meran station to use location_type / parent_station and platform_code, in order to describe better the node, and relationships between boarding areas, platforms and station. (it's similar to Netex stop description)

Otherwise you have a lot of stops with the same name and it's not reccomended.

![2021-03-12-084346_596x479_scrot](https://user-images.githubusercontent.co

[2021-03-12 08:54] rcavaliere commented on #43
Fully agree. They support all this but probably it's currently not exported in the GTFS

[2021-03-19 09:57] bertolla opened #44 "CORS problems with geocoder"
![cors](https://user-images.githubusercontent.com/3582457/111762909-d59ed300-88a1-11eb-9324-572d8503464d.png)

[2021-03-19 14:13] bertolla commented on #44
This is the error message:
[code]

[2021-03-19 14:14] rcavaliere opened #45 "Bike sharing not visible on client"
API provided by OTP returns an empty array of values

[2021-03-19 16:46] rcavaliere commented on #41
First prototype on the client was presented. Data outside South Tyrol should be visible as layer, it is not a problem if they do not lead to any trip suggestion from journey planner

[2021-03-19 16:49] rcavaliere commented on #38
Prototype presented. Decision to have car sharing both as intermodal option as well as monomodal option.

[2021-03-21 18:00] stefanocudini commented on #44
@bertolla about this.
the error shown now should not appear
But I believe that the environment variable API_HOST,API_PORT is not passed to the geocoder service:

API_HOST should be the OTP service which must also be reachable from the geocoder:

I'm not sure if this is enough you could verify that the environment variables in the running container(geocoder) are set
https://github.com/noi-techpark/

[2021-03-22 16:00] zabuTNT commented on #45
After thi pull https://github.com/noi-techpark/odh-mentor-otp/pull/46 should work.
In fact stations are now returned if you go here:
https://otp.opendatahub.testingmachine.eu/otp/routers/openmove/bike_rental

but **a graph rebuild is needed** because I introduced the operational regions of bikesharing stations.
And now the network value is not a generic "GBFS network" anymore:

[code]
but distinct

[2021-03-22 20:35] rcavaliere commented on #45
@zabuTNT thanks for the update, and also for your work and those of @stefanocudini
@bertolla can you please rebuild the graph, so we can test this?

[2021-03-23 08:57] bertolla commented on #45
I did so and they are visible now

[2021-03-23 09:26] #45 closed

[2021-04-02 07:28] #41 closed

[2021-04-02 13:51] #44 closed

[2021-04-02 15:07] rcavaliere commented on #37
Comments agreed:
- [ ] colored bulletin on the icon -> to be substituted with the number of available vehicles, such as on https://analytics.opendatahub.bz.it/
- [ ] gray color to be used for "offline" stations (e.g. in maintenance)
- [ ] primary color: suedtirolmobil blue
- [ ] secondary color to be added for call to actions
- [ ] different tooltip based on data type (e.g. online vs offline parki

[2021-04-02 15:15] rcavaliere opened #48 "As an end-user I would like to see on the prototype application the following additional mobility services information"
Data layers to be included:
- [x] on-street parking
- [x] off-street parking
- [x] car sharing
- [x] e-mobility

Data should be visible when activating the correspondent layer on the map, and where relevant integrated in the routing engine. This second possibility should be foreseen at least for parking and car sharing

Following things are missing or needed to be improved:
- [x] visualization of

[2021-04-12 20:26] rcavaliere commented on #37
We have reviewed internally and with some interested stakeholder the first mock-ups. In general looks very good and the comments are positive. Main comments are the following:

- language selection: use labels IT, DE, EN (now a standard in the web) and avoid the use of flags
- colours: the Tourist Agency of Merano, which is a historic partner of the beta application mobility.meran.eu (they own the

[2021-04-16 05:14] rcavaliere commented on #7
Will be defined in today's Sprint Meeting with OpenMove and STA

[2021-04-16 14:29] zabuTNT opened #49 "OTP1.x vs OTP2"
Since it is common to wonder if it is convenient or not to switch from OTP1.x to OTP2, I report here an article written by the OTP authors themselves.

http://docs.opentripplanner.org/en/latest/Version-Comparison/

Before a possible switch it is good to read it to check if it brings real benefits.

For example, currently, the hot reloading of graphs is not supported in OTP2.

[2021-04-16 15:28] rcavaliere commented on #34
After the discussion today we STA, let's consider this user story as a "nice-to-have" feature

[2021-04-16 15:31] rcavaliere commented on #35
STA is not in the condition to change the export. Possible solutions:

- processing of the GTFS export -> generation of new shapes.txt with simplified coordinates
- GTFS export is kept like this, data is properly handled and visualized by the end-user application

[2021-04-30 09:30] zabuTNT commented on #37
Updated mockups with colors and enhancements

[Wireframe Merano (1).pdf](https://github.com/noi-techpark/odh-mentor-otp/files/6404303/Wireframe.Merano.1.pdf)
[Wireframe Mobile Merano (1).pdf](https://github.com/noi-techpark/odh-mentor-otp/files/6404304/Wireframe.Mobile.Merano.1.pdf)

[2021-04-30 09:52] rcavaliere commented on #37
Looks good, I make an immediate question: why didn't you use the colours of Merano (see above)?

[2021-04-30 10:01] zabuTNT commented on #37
@rcavaliere
I'll ask this thing, but the idea it's that anyways all these colors will be easily settable on deployment.

[2021-04-30 10:06] rcavaliere commented on #37
OK, that's fine. Would be nice to have also a version of the wireframes also with these colours to be presented with the Merano's stakeholders

[2021-04-30 10:08] stefanocudini commented on #17
@rcavaliere
About languages management in the latest version we have made some changes on the format of the files and their location.

Starting language is picked from browser, if the browser has a different language than the three defined, English is selected.

Now langs path is [here](https://github.com/openmove/odh-mentor-otp/tree/development/journey/app/lib/i18n):
[code]
The application uses a

[2021-05-02 05:19] rcavaliere commented on #17
@rcavaliere completes the additional translations according to the new languages management structure in this refactoring

[2021-05-02 05:20] #40 closed

[2021-05-02 05:20] #39 closed

[2021-05-02 05:22] rcavaliere commented on #37
We have decided to have also a version of the mock-up in the Merano colours.
@rcavaliere will ask the Tourist Agency of Merano how they would suggest to do this, and then we will make a version of this mock-up also according to this suggestion. This will be also the graphical line to be used for our public POC.

[2021-05-02 05:23] #38 closed

[2021-05-02 05:24] rcavaliere commented on #48
Next steps:
- [ ] markers for parking + e-mobility
- [ ] check possibility to consider parking information in the routing calculations

[2021-05-02 05:32] rcavaliere opened #52 "As an end-user I would like to see on the prototype application the e-scooter option in the multi/inter-modal routing functionality"
Since this was already implemented in your development environment, I would suggest to include this in the POC

[2021-05-02 05:33] rcavaliere opened #53 "As an end-user I wouldn't like to see the car2go logo for the car sharing (please use the one of Car Sharing Suedtirol, or a generic one)"

[2021-05-08 08:14] rcavaliere commented on #37
I have received some inputs from the Tourist Agency of Merano.
The proposal is the following:
- [ ] base colour: green (Merano colour "Salbeigruen"). To be used in the three different gradations for the different elements
- [ ] M blue icon for public transport (the color which is currently used, to be used also for the on-demand services, when available)
- [ ] "ocker" colour for sharing services (

[2021-05-10 13:15] zabuTNT commented on #37
thank you @rcavaliere, and about the fonts?

[2021-05-14 14:25] rcavaliere commented on #37
Final adjustments decided:
- [ ] clustering icon without "sticker" with real-time availability info
- [ ] "sticker" with real-time availability info coloured (green = available; red = not available)
- [ ] texts and numbers in tooltips in black colour
- [ ] transport modes with the above Merano colours + if necessary an alternative proposal of colours for improving the "look & feel"

[2021-05-14 14:30] rcavaliere opened #55 "As an end-user I would like the intermodal journey planner considers real-time parking information for e.g. P&R trip searches"
Linked to the preliminary analysis carried out in #48. This user story covers:
- [x] the implementation of this feature
- [x] the documentation on how it is possible to configure the thresholds for the journey planner so that certain trip options are not visualized

[2021-05-14 14:33] rcavaliere opened #56 "As an end-user I would like that the real-time P&R feature (car park updater) takes in consideration also parking forecasts so to increase the scope of possible trip requests"
To be implemented once the parking forecasts are going to be available

[2021-05-14 14:35] rcavaliere commented on #52
Basically implemented. @rcavaliere checks if there are some special rules defined by the Municipality of Merano for e-scooters to be implemented in the journey planner

[2021-05-14 14:43] rcavaliere commented on #35
Development probably not needed, the new version of the client can now properly show the shapes of the lines without any particular difficulty.

[2021-05-14 14:44] rcavaliere commented on #48
Status: back-end integration completed. Focus now on the front-end. Development roadmap:
- [ ] Refactoring
- [ ] Map
- [ ] Left panel (route planner search)
This user story covers just the refactoring and the visualization on the map; other front-end adjustments will be handled by other users stories. Integration of real-time parking information in the router confirmed, first POC already presented

[2021-05-17 19:45] rcavaliere commented on #52
@zabuTNT check completed, at present the Municipality of Merano considers the e-scooters similarly to e-bikes. Therefore no particular rules are (for the moment necessary).

[2021-05-17 19:45] #52 closed

[2021-05-28 13:31] rcavaliere commented on #55
Configuration of thresholds currently not possible. To be deepened based on specific use cases.

[2021-05-28 13:46] #53 closed

[2021-05-28 13:53] rcavaliere commented on #7
Check this https://github.com/OneBusAway/onebusaway-gtfs-modules this should make automatic evaluations and highlight is a GTFS export has changed

[2021-05-28 14:11] rcavaliere commented on #48
Refactoring should be completed next week, then the implementation activities can continue as planned

[2021-05-28 14:24] rcavaliere commented on #35
@stefanocudini and @zabuTNT analyze if this is really needed...

[2021-06-10 08:16] rcavaliere commented on #43
@zabuTNT feedback by Mentz: this is possible, there is something to change in the configuration of the export in DIVA. I have asked STA to test this and to provide us a different GTFS export which we can test

[2021-06-11 14:24] rcavaliere commented on #7
Proposal for STA: upload of checksum and control of this file

[2021-06-11 14:28] rcavaliere commented on #37
Next step: integrate on-demand + car pooling

[2021-06-11 14:28] zabuTNT commented on #37
New Palette
[Desktop.pdf](https://github.com/noi-techpark/odh-mentor-otp/files/6639110/Desktop.pdf)
[Mobile.pdf](https://github.com/noi-techpark/odh-mentor-otp/files/6639111/Mobile.pdf)

[2021-06-11 15:54] rcavaliere commented on #37
The new mock-ups are fine. I suggest to close this issue and to other another one for the addition of the layers "car pooling" and "on-demand"

[2021-06-11 15:54] #37 closed

[2021-06-11 15:56] #55 closed

[2021-06-15 11:10] rcavaliere commented on #7
@zabuTNT @stefanocudini @bertolla question: the checksum shouldn't be already part of the ZIP file? I don't think we need something different when the GTFS export is generated. Or shall STA do something different / more

[2021-06-16 09:59] stefanocudini commented on #7
@bertolla @rcavaliere  I am doing tests about this.
The optimal solution would be to simply enable the **HASH** command on the ftp server config.
Depending on the type of server it could be a very fast thing and also convenient in other cases of file distribution via ftp.
this option allows any ftp client to quickly verify that distributed files have been modified without doing data transfers.

if

[2021-06-20 06:14] rcavaliere opened #62 "As an end-user I would like to extend the mock-up / wireframes with information regarding the on-demand + car pooling services"

[2021-06-25 08:12] rcavaliere commented on #7
@stefanocudini @zabuTNT @bertolla STA does not know how to do this, needs support on how to configure this on IIS

[2021-06-25 10:32] stefanocudini commented on #7
@rcavaliere our latest PR works even without this optimization.

[2021-06-25 10:35] rcavaliere commented on #7
ok, let's discuss this later

[2021-06-25 13:14] rcavaliere commented on #7
Currently implemented, at present the system is configured so to download the GTFS export and to start the rebuild of the OTP graph once a day (at 3 AM). To be understood if we are able to support STA to provide us the checksum functionality (HASH command). @rcavaliere provides some inputs to STA (e.g. https://blogs.iis.net/robert_mcmurray/simple-utility-to-calculate-file-hashes)

[2021-06-25 13:43] rcavaliere commented on #35
No more necessary

[2021-06-25 13:43] #35 closed

[2021-06-25 13:54] rcavaliere commented on #48
Map layers are now more consistent with the GUI. Aspects to be fixed / improved:
- [ ] visualization of free-floating bike sharing in Merano
- [ ] icon clustering
On-street parking and e-mobility are still to be included.

[2021-06-25 16:01] rcavaliere opened #65 "As an end-user I would like to see a "credits" button through which it is possible to see what the demonstrator is about, who has developed it, which are the partners, who has financed it, etc."
Should be similar to what currently implemented on mobility.meran.eu (see "About" - bottom right)

[2021-06-25 16:10] rcavaliere opened #66 "As an end-user I expect that car pooling / on-demand services are integrated in the intermodal journey planner"
This user story deals with a technical evaluation on how to best integrate the car pooling and on-demand data in the OTP back-end (GTFS-Flex with maximum flexibility? As TNC?)

[2021-07-02 11:28] rcavaliere commented on #7
@stefanocudini @zabuTNT @bertolla unfortunately STA is not able to implement the checksum functionality... so let's leave everything as it is now

[2021-07-18 06:58] rcavaliere commented on #43
STA will do this at the beginning of August (current reference person is on holiday)

[2021-07-23 13:10] rcavaliere commented on #66
On-demand: visualization as separate layer on the map; integration in public transport in journey planner
Car pooling: still needs to be decided

[2021-07-23 13:12] rcavaliere commented on #65
First prototype available. JSON should be transformed in a HTML page so to manage both contents (multilingual) and images (logo), which should be same for the same languages and be available as common resources

[2021-07-23 13:18] rcavaliere commented on #62
This mock-up review should first focus on the filter menù, which should be available for all different layers on the map. As a reference, please have a look at this:

https://user-images.githubusercontent.com/9825179/126787297-7caa39db-34b6-4c1f-839d-57a34e0597f9.mp4

Ideally the filtering preferences should be stored in the browser so that the user does not need to set up this at every applicatio

[2021-07-29 04:33] rcavaliere opened #71 "As an end-user I expect that the number in the icons of the map are related to clustering icons visualizing how many stations are present in that point, and not the available places / vehicles in a certain point"
After some internal UX testing the current visualization on map is not optimal. Users seem to not understand that the number in the icon represent how many parking places / shared vehicles are currently available. We propose the following:
- [x] implement a clustering mechanism (see #48) with current number visualization in the icon
- [x] when each single station is visible use the red / yellow /

[2021-07-29 04:51] rcavaliere opened #72 ""Printer" map seems to not work"
Same problem with Firefox and Chrome. Also on mobile (iOS)

![Screenshot from 2021-07-29 06-52-13](https://user-images.githubusercontent.com/9825179/127433834-cc4f875a-5e5b-4c6c-a2e5-fbf6ab9f4585.png)

[2021-07-29 05:14] rcavaliere opened #73 "As an end-user I expect to get a clear message if the router is not able to compute any valuable trip options"
Current situation

![Screenshot from 2021-07-29 07-14-53](https://user-images.githubusercontent.com/9825179/127435645-e66046d4-5272-4eda-8059-b6c698a94ef5.png)

[2021-07-29 05:18] rcavaliere opened #74 "As a project manager I would suggest to call the application "Mentor", and not "Journey""

[2021-07-29 05:21] rcavaliere opened #75 "As an end-user I expect to have a more user-friendly when searching for an origin / destination"
Having POIs suggestion is very good, but probably this is not sufficient for normal users. I think most users would try to insert a normal address, and they expect that this is somehow recognized and taken into account. Suggestion is to improve the geocoder so to resolve addresses by using an available free online service.
Tasks to be foreseen:
- [x] analysis of the available solutions and choice

[2021-07-29 07:31] zabuTNT commented on #72
It seems that stamen HTTPS certificate is wrong.

An alternative could be use not secure connection, or wait, maybe this will be resolved by their technicians.
http://tile.stamen.com/toner-lite/13/4350/2892.png

[2021-07-29 09:46] stefanocudini commented on #72
just solved here: https://github.com/openmove/odh-mentor-otp/commit/67f5f2b744aca0252de79295f4db644f19707320

[2021-07-29 16:55] rcavaliere opened #76 "As an end-user I don't understand in the router setting if an option is active or not"
See screenshot. A more visible
![llkbfemneelamleg](https://user-images.githubusercontent.com/9825179/127533432-0747ba02-878b-4d2f-bc99-8e5471477f51.png)
 color for highlighting is necessary...

[2021-07-30 08:23] stefanocudini commented on #76
I hope this is clearer
![image](https://user-images.githubusercontent.com/47107/127624092-3c10ab09-6628-4d94-b35a-633d745bf877.png)

[2021-07-30 08:23] rcavaliere commented on #76
@stefanocudini would be perfect!

[2021-08-06 14:18] rcavaliere commented on #75
To discuss during next meeting. Possibilities:
- Pelias (service for fee)
- HERE (evaluate freemium model)

[2021-08-06 15:14] rcavaliere opened #78 "As an end-user I expect to have different icons for the different options offered by the router"
Currently it is not case, some icons are used multiple times.

[2021-08-10 20:24] #76 closed

[2021-08-10 20:26] #73 closed

[2021-08-10 20:36] rcavaliere commented on #48
@stefanocudini @zabuTNT the new prototype looks better. I think there is an issue with the visualization of the layers. When I load the application I see two times "parking" (I assume they relate to "on-street" and "off-street" parking), but on-street parking is not visualized. Bike sharing data is visible at the beginning and then no more available (see video below). As far as the clustering is c

[2021-08-10 20:38] rcavaliere commented on #65
@stefanocudini the credits page looks good!
Can you provide me some detail on how we can put content there (texts + logos)?

[2021-08-10 20:38] #72 closed

[2021-08-10 20:39] #74 closed

[2021-08-13 11:33] rcavaliere commented on #43
@zabuTNT @stefanocudini STA has made the upgrade of the GTFS export with the details of the stops relationships. It's available on ftp://ftp.sta.bz.it/gtfs/ as a new file (google_transit_parental_stops.zip). What is the name of the GTFS export we are expecting so to automatically download the GTFS and rebuild the OTP graph? I would then rename this GTFS file so that then everything is tested with

[2021-08-13 12:22] stefanocudini commented on #43
the gtfs filename from which to generate the graph is set with this environment variable: `GTFS_FILE`
Currently I believe that in your infrastructure it has this value: `"latestGTFS.zip"`

[2021-08-13 12:25] stefanocudini commented on #43
ops... sorry for misunderstanding!
the source gtfs is this variable: GTFS_URL=ftp://ftp.sta.bz.it/gtfs/google_transit_shp.zip
so to download the new gtfs it should be enough to set the value in your environment
`GTFS_URL=ftp://ftp.sta.bz.it/gtfs/google_transit_parental_stops.zip`

[2021-08-17 08:17] stefanocudini commented on #65
@rcavaliere  now that you've merged the PR, I've made some simplifications in the code to make it easier to edits in the credits section.

in this position:
https://github.com/noi-techpark/odh-mentor-otp/blob/development/journey/app/lib/components/app/modal-credits.js#L23
you can insert html with links and logos.
Now it contains a basic structure that could be useful to follow to avoid mobile disp

[2021-08-18 13:52] rcavaliere opened #81 "As an end-user I would like to see the on-demand service data as a separate layer on the map"
This user story is the implementation of the concept defined in #66, for the part related to the map visualization.
Following aspects should be covered:
- [x] service stops (the different stops type should be defined separately)
- [x] real-time vehicle position
- [x] current itinerary

Since the vehicle is for most of the time idle in a position, through the real-time check of the next itinerary t

[2021-08-18 13:53] rcavaliere opened #82 "As an end-user I would like to have also the on-demand option in my trip planner"

[2021-08-18 13:56] rcavaliere commented on #81
@zabuTNT on-demand stops can be already requested from the testing environment of the ODH.
Reference API call: https://mobility.api.opendatahub.testingmachine.eu/v2/flat,node/ON_DEMAND_STOP
Each stop has in its metadata the reference to the group is belongs (remember the distinction between stops in and outside the polygon)

[2021-08-18 14:03] rcavaliere commented on #48
@stefanocudini wonderful work, I like it really a lot! Please complete the clustering on all layers (carsharing and bikesharing), then we can close this user story.

[2021-08-18 14:03] rcavaliere commented on #65
OK, now it's my turn to put contents here. Will let you know in case of problems.

[2021-08-18 14:12] rcavaliere commented on #78
@stefanocudini I have seen the new icons, they are better but in my opinion not sufficient clear enough for a simple user. The single transport modes icones are OK, but I would improve and the intermodal options. My suggestion would be to go in this direction: alwasy the bus icon + the associated transport mode (see example attached). For park & ride I would use the 'P' icon while for car sharing

[2021-08-18 14:14] rcavaliere commented on #71
As said, wonderful work. Just complete the clustering mechanism for bikesharing and carsharing

[2021-08-18 15:06] stefanocudini commented on #48
finish clustering in this new PR: https://github.com/noi-techpark/odh-mentor-otp/pull/83

[2021-08-18 15:38] stefanocudini commented on #78
it's a good idea to associate bus icon in "... & Ride" modes.
For now, personal bike and bikesharing differ in the presence of the clock

[2021-08-18 16:18] rcavaliere commented on #78
@stefanocudini yes I have seen. On mobility.meran.eu we used something that was quite understood, i.e. the double arrow on the transport mean meaning "sharing". Maybe we can go in this direction...
![marker](https://user-images.githubusercontent.com/9825179/129934509-14524c7d-ab36-45cc-8567-e83dc80c62cb.png)

[2021-08-19 09:02] stefanocudini commented on #78
I will ask the UX colleagues for few icon sets for the modes

[2021-08-19 11:40] rcavaliere commented on #43
@stefanocudini @zabuTNT @bertolla STA has renamed the file so that we don't have to change nothing. I therefore assume that now everything should be be computed automatically this night, correct? Let's tomorrow what we will see on the application....

[2021-08-19 12:10] stefanocudini commented on #43
Yes good

eventually you can monitor the logs of the otp container.. which produces messages in case it verify changes of the gtfs file and the rebuilding of the graph

[2021-08-19 12:37] stefanocudini commented on #71
included in next PR https://github.com/noi-techpark/odh-mentor-otp/pull/83

[2021-08-20 04:50] rcavaliere commented on #43
@stefanocudini @zabuTNT it seems that it has worked as expected, can you also check? If ok, we can close this issue and #7

[2021-08-30 17:16] #7 closed

[2021-08-31 10:07] stefanocudini commented on #43
about this we would need to be able to see the logs of the **otp** container.
maybe you could via email.

in the meantime we are developing the part that processes the data I add the parent relations of the stops, this requires some changes that I will send you in the next PR

[2021-08-31 16:02] bertolla commented on #43
Here the log and the contents of dir:
[otp.log](https://github.com/noi-techpark/odh-mentor-otp/files/7085269/otp.log)
[code]

[2021-09-02 09:52] stefanocudini commented on #43
@bertolla we need an ```ls -lrt``` to understand when _latestGTFS.zip_ file has been modified

[2021-09-02 16:12] stefanocudini commented on #43
new PR https://github.com/noi-techpark/odh-mentor-otp/pull/84
create a new log file, more verbose, located at: ```/data/gtfs_download.log``` to monitoring check and auto update of gtfs data from ftp server.

[2021-09-03 08:50] stefanocudini commented on #75
I'm testing the integration with HERE api for geocoding, these need to generate an appID and appCode related to the mentor instance, which you can generate by following this guide:
https://developer.here.com/tutorials/getting-here-credentials/#signing-up-and-getting-your-api-key

requests limits is here: https://developer.here.com/pricing

I'll make sure you can put the keys in new environment var

[2021-09-03 12:17] rcavaliere commented on #75
https://developer.here.com/pricing#plan-details

[2021-09-03 13:19] #71 closed

[2021-09-03 13:19] #48 closed

[2021-09-03 14:07] stefanocudini commented on #43
@rcavaliere to test the data updated after the build with the new gtfs structure having parent station you have to go here with the browser:
https://otp.opendatahub.testingmachine.eu/otp/routers/default/index/stops?detail=true
and verify that some of the stops contain the attribute: _parentStation_

here a sample from my local OTP instance:
[code]

[2021-09-03 16:11] rcavaliere opened #86 "As an end-user I would like to see the travel times layer on the map"
Conceptually, should be the same as on https://analytics.opendatahub.bz.it/ (without the possibility to click on each single link)

[2021-09-03 16:16] rcavaliere opened #87 "As an EU officer I would like to see the Interreg Mentor logo on the application"
Once the application goes online, we should have two different versions of the applications. The difference is just in the logo which replaces the word "MENTOR" in the top left corner:
- [x]  one available on mobility.meran.eu, with the logo "Merano" logo (see current application)
- [x] one available on a domain to be defined, which could be mentor.opendatahub.bz.it, with the logo Interreg (see at

[2021-09-03 16:24] rcavaliere opened #88 "As an end-user I would like to have a proper representation of bus stops on the maps, given the parent detail which is now available (simple solution)"
Simple solution:
- [x] zoom out -> visualization of "father" bus stop"
- [x] zoom in -> visualization of "child" bus stop"

[2021-09-03 16:25] rcavaliere opened #89 "As an end-user I would like to have a proper representation of bus stops on the maps, given the parent detail which is now available (complex solution)"
As #88, but with graphical association between child and father bus stops (bus stop structure is displayed in a nice way)

[2021-09-07 09:33] stefanocudini commented on #87
@rcavaliere I have a question that is helpful for me to understand how to apply logo selection

these are two different deployments or
the same instance that is shown in two different domains?

[2021-09-07 09:35] rcavaliere commented on #87
@stefanocudini I was asking myself the same question. At the end we just need two domains, not two different deployments. Can we do the second option while showing different logos in the two domains?

[2021-09-08 13:47] stefanocudini commented on #87
yes exactly we can keep the same codebase and deployment and change the logo with the web domain.

I will try to make configurable

[2021-09-08 20:28] rcavaliere commented on #43
@stefanocudini I have checked this but it seems to me that no stop has parentStation attribute. Can you confirm this?

[2021-09-09 08:03] stefanocudini commented on #43
Sorry but to understand if the problem is on the code side I should have access to the logs of the deployed containers.
- we need to be sure that the OTP container has been rebuilt correctly.
- In the last PR I added a feature to log the actions performed during the gtfs update tasks, but I cannot access this file remotely `/data/gtfs_download.log`

[2021-09-09 15:53] stefanocudini commented on #75
about the fourth point of this issue, I solved the categorie's icons based on the search source data, I will post this in the next PR:
![geocoder_icons](https://user-images.githubusercontent.com/47107/132719906-ddb9bb6a-298b-444f-a8d3-498b00cf0ca9.png)

[2021-09-14 09:07] stefanocudini commented on #87
![interreg_large](https://user-images.githubusercontent.com/47107/133228912-62580a9e-5ee8-4ae2-8048-82f278b5f905.png)
I think I will have to insert the modified logo in this way to avoid that the map layout (especially for mobile) is not compromised.

@rcavaliere would this be acceptable?

I have inserted their original instead in the credits section

[2021-09-14 09:20] rcavaliere commented on #87
@stefanocudini let's try with this proposal!

[2021-09-17 07:04] rcavaliere opened #90 "As a project manager I would like to bring the current OTP implementation in production"
We need:
- [x] replicate front-end / back-end applications, so to have testing and production environment
- [x] testing applications should be left as they are. Productive applications should be reachable through other end-points (to be defined). End-user application should be accessible through mobility.meran.eu

[2021-09-17 08:37] RudiThoeni commented on #90
@rcavaliere will contact Alex Lanz if he can replicate the testing environment on production

[2021-09-24 15:17] rcavaliere commented on #89
Prototype shown, looks good. Please integrate in the next PR

[2021-09-24 15:17] rcavaliere commented on #88
See #89

[2021-09-24 15:18] rcavaliere commented on #87
Functionality shown. Please integrate in the next PR!

[2021-09-24 15:19] rcavaliere commented on #78
New icons presented, to be included together with a mechanism to hide intermodal options. Please change the idea to click on the icon "bus" (not user friendly), please foresee a '+' or something like that gives immediately the hint to the users that there are other options to be activated.

https://user-images.githubusercontent.com/9825179/134698637-78792e28-d52e-447e-8464-290c978fe813.mp4

[2021-09-24 15:22] rcavaliere opened #91 "As an end-user I would like to have a settings filter associated with the layers "E-Charger" and "Carsharing""
As proposed in the UX / UI design of #78
The filters should have the same fields as currently available on mobility.meran.eu

[2021-09-27 20:19] rcavaliere opened #92 "As an end-user I expect that the selected layers on the map remain even after a trip search or other similar action on the portal"
This happens mainly on mobile. The opening of the menu for the layers and the map styles is also
not optimal (see screenshot)

![IMG_3208](https://user-images.githubusercontent.com/9825179/134980325-79847de2-9a4d-49de-af76-966161c5fbf6.PNG)

[2021-10-01 14:35] stefanocudini commented on #92
this has been solved today in the last commits of the same PR:
https://github.com/noi-techpark/odh-mentor-otp/issues/92

[2021-10-06 07:55] RudiThoeni commented on #90
docker server api.mobility.docker.opendatahub.bz.it

[2021-10-14 17:53] rcavaliere commented on #90
@alexlanz thanks for the update. Nobody of these end-points is the end-user application (OTP client), the end-point is https://journey.opendatahub.testingmachine.eu/
These end-points are API made at disposal by the OTP back-end that are used by the OTP client.
For the other question, yes, the values are to be kept as they are also for the productive environment

[2021-10-19 09:42] RudiThoeni commented on #90
@rcavaliere We have a potential race condition. The application starts an AWS Instance to do some calculations and then stops it.
With the parameter GTFS_URL_UPDATETIME this updates are controlled (default:"daily" possible values: 15min|daily|hourly|monthly|weekly). We wanted to use the same Instance on Development & Production to do the calculations. The problem now is with this Scheduling possib

[2021-10-20 14:33] rcavaliere commented on #66
@stefanocudini looks very nice!

[2021-10-20 14:52] stefanocudini commented on #66
probably even the drt stops can remain round?
![image](https://user-images.githubusercontent.com/47107/138117016-8e3bc646-b00c-4b03-b995-1df1caf5885f.png)

[2021-10-20 16:08] rcavaliere commented on #66
Yes, I agree, let's make everything round!

[2021-10-21 14:36] stefanocudini opened #94 "LOGIC for MODE CODES"
HERE:
https://github.com/openmove/odh-mentor-otp/blob/master/journey/app/lib/otp-ui/trip-form/util.js

[2021-10-22 11:36] #94 closed, assigned to nobody

[2021-10-27 15:18] RudiThoeni opened #96 "Check Deployment"
@rcavaliere @stefanocudini  we deployed all services and the i think the graph was rebuild. Can you check if everything works as it should?
What i found strange was with  https://otp.opendatahub.testingmachine.eu/  it doesn't worked (after a long timeout there was a proxy error)..... now i tried again and it is working? Maybe there is any third party service that was down?

If everything is alrigh

[2021-10-29 08:50] stefanocudini opened #98 "readme updates"
@rcavaliere  now that the master has been merged it might be a good idea to put a simple screeshot in the readme.
I have some examples (also gifs) if needed

[2021-11-01 16:38] rcavaliere commented on #43
@RudiThoeni now that the build was successfully completed, can you share the requested log file (`/data/gtfs_download.log`) to this thread?

[2021-11-01 16:47] rcavaliere commented on #92
@stefanocudini this looks much better but I don't find any way to close this menu. I expect that this is done when checking on the layers menu button (see below)
![Uploading IMG_3274.PNG…]()

[2021-11-01 16:51] rcavaliere commented on #88
With the new version I see all the details of the bus stops at all zoom levels. This makes the application not usable at all. As agreed, the highest bus stop details should be visible only from a certain zoom level.

![IMG_3275](https://user-images.githubusercontent.com/9825179/139709281-bd7b5b94-174d-4827-8d1a-dee57ab5e9fe.PNG)

[2021-11-01 16:58] rcavaliere commented on #78
@stefanocudini this looks very good. On mobile, however, I don't get currently all the options which are available. Please foresee something similar as for the presentation of the journeys' suggestions

![IMG_3276](https://user-images.githubusercontent.com/9825179/139710191-01df89d5-06ff-487c-b301-8b29542d16a7.PNG)

[2021-11-01 17:03] rcavaliere commented on #81
This works quite well. Just the itinerary has to be implemented

[2021-11-01 17:05] rcavaliere commented on #66
@stefanocudini @zabuTNT as agreed the integration of the on-demand service in the journey planner will be evaluated at a later stage, with an upgrade of the OTP routing engine

[2021-11-02 09:08] stefanocudini commented on #92
the normal behavior is that clicking or dragging the map closes the menus.
(I tried from my mobile device this works)

we will investigate if it is feasible to close them even when is changed the selection of the switches

[2021-11-02 09:38] stefanocudini commented on #78
maybe this is an unfortunate case of display size, all travel modes are available by swipe horizontally
![image](https://user-images.githubusercontent.com/47107/139821596-3c0bf221-2ac4-4e31-9bbe-612759b71553.png)

[2021-11-02 09:39] stefanocudini commented on #78
probably the situation improves if I reduce the size of the buttons

[2021-11-03 08:33] RudiThoeni commented on #43
[gtfs_download.log](https://github.com/noi-techpark/odh-mentor-otp/files/7466220/gtfs_download.log)

[2021-11-03 12:19] stefanocudini commented on #88
@rcavaliere this is solved in the next PR:
https://github.com/noi-techpark/odh-mentor-otp/pull/99

[2021-11-03 13:59] stefanocudini commented on #43
@RudiThoeni I think this environment variable: ```GTFS_URL_UPDATEHOOK``` in the container has not been set, otherwise it would have been printed in the log file:
[code]

look here the script that generate the log file:
https://github.com/noi-techpark/odh-mentor-otp/blob/development/gtfs-import/gtfs-download.sh#L41

the last time the gtfs data was automatically downloaded it happened on October 30t

[2021-11-03 15:21] stefanocudini commented on #43
here:
https://github.com/noi-techpark/odh-mentor-otp/blob/master/infrastructure/Jenkinsfile-Prod-Execute.groovy#L56
I think something is missing _credentials()_ or other things

[2021-11-03 15:43] RudiThoeni commented on #43
@stefanocudini Thank you,  i will have a look at it tommorrow, maybe you can also have a look on the logs (https://github.com/noi-techpark/odh-mentor-otp/issues/90#issuecomment-954713045) we posted here https://github.com/noi-techpark/odh-mentor-otp/issues/90#issuecomment-954717273 and referenced in this comment?

[2021-11-03 15:45] stefanocudini commented on #43
Now I have improved the generated log, so it is more secure and you can understand if the web hook is working>
https://github.com/noi-techpark/odh-mentor-otp/pull/99/commits/7ffdf861861411ff2d70e53e530eb8965cfc2085

all in the last PR

[2021-11-03 15:52] stefanocudini commented on #90
I can suppose that Java don't support http redirect to https.. you can try use same url with **https**.
or it might depend on your container network configuration.
I can open the resource from remote and the data they see are correct

[2021-11-03 15:57] RudiThoeni commented on #90
we did not found where we have defined a "http" link because on the config we set the https link GBFS_HOST ="https://gbfs.otp.opendatahub.bz.it/
so the question is where the http link comes from?

[2021-11-03 16:02] rcavaliere commented on #92
@stefanocudini ok, I see. But I recommend a button for closing the window (could be just be a "x" like for the tooltip associated to the bus stops)

[2021-11-04 11:11] RudiThoeni commented on #43
Hi @stefanocudini  as you pointed out correctly, the variable `GTFS_URL_UPDATEHOOK ` was not set in the container now i added it and merged your PR and deployed on testing + production, will post the log next week then we see if the update is done.....
however starting the otp container still gives some errors, i will post it in issue https://github.com/noi-techpark/odh-mentor-otp/issues/90

[2021-11-04 11:15] RudiThoeni commented on #90
hera a full log when the container start
[containerlog.txt](https://github.com/noi-techpark/odh-mentor-otp/files/7474371/containerlog.txt)
s

[2021-11-04 11:42] stefanocudini commented on #43
fine! we're working about #90 today, i will send you a PR in the next few days for that. I think the problem is in the proxy in front of the gbfs service, i will let you know soon

[2021-11-04 11:48] stefanocudini commented on #90
@RudiThoeni the problem is here: https://gbfs.otp.opendatahub.bz.it/bz/1/gbfs.json
it should list the url with the same protocol seen from the outside (but I think your proxy redirect http -> https breaks these requests)

we are trying to modify from code container.
About this I ask you if currently the proxy is also forwarding the protocol, in this way (example with nginx)
[code]
we need of X-For

[2021-11-04 13:01] RudiThoeni commented on #90
since we use our new proxy (caddy) i read in the documentation that it should pass x-forward-proto by default, we have to check and if it does not it we will set it....

[2021-11-04 16:54] rcavaliere commented on #88
Tested, fine for me. Let's start closing tasks :-)

[2021-11-04 16:54] #88 closed

[2021-11-08 09:59] RudiThoeni commented on #43
Hi the log now gives
[code]

is this the right behaviour?
[code]

[2021-11-08 12:58] stefanocudini commented on #43
no I think there are network problems between the otp container and the webhook service, 000 is a common code to use when no HTTP code was received a network error.

I advise you to verify that from inside the container you can exit on the hostname specified in the webhook.
what our code does is a simple curl:
https://github.com/noi-techpark/odh-mentor-otp/blob/development/gtfs-import/gtfs-downloa

[2021-11-08 21:35] RudiThoeni commented on #43
ok thx you are right i have seen that on production there is a timeout  and on development there is a 403 by calling the updatehook url.......   i have to see how this all works together

[2021-11-17 13:23] rcavaliere commented on #17
@stefanocudini translations updated in DE, IT and EN

[2021-11-17 13:26] stefanocudini commented on #17
great! I'll do a quick check on this

[2021-11-18 12:52] RudiThoeni opened #110 "Problems in Deploying OTP Application"
Today i experience problems on the Deployment of the OTP Application...

By starting the otp container this error is given:

[code]
I tried many deploys without success....

So i also started the Graph Calculation. (https://github.com/noi-techpark/odh-mentor-otp/blob/master/infrastructure/Jenkinsfile-Test-Calculate.groovy), rebuilding the graph
Normally it takes about 15 - 20 minutes, Today it too

[2021-11-18 13:02] zabuTNT commented on #110
[code]

This happens when there are few memory resources. OTP reads the graphs, discover the router (in this case openmove, the name for our graph) and put it in memory.

Buffer underflow means that the in-memory copy failed due lack of resources.

So, OTP skip the import for the "openmove" graph.... but then, we explicitly said that we want to use the graph openmove

https://github.com/noi-techpa

[2021-11-18 13:16] RudiThoeni commented on #110
@zabuTNT  thx for your feedback, so the solution would be to increase ressources....
The test server is a docker environment with 16GB of memory in total at the moment only 35% are used......
I normally resolved this by increasing this JAVA_MX Variable https://github.com/noi-techpark/odh-mentor-otp/blob/development/infrastructure/Jenkinsfile-Test-Execute.groovy#L28

What i find strange is the grap

[2021-11-18 13:39] zabuTNT commented on #110
Is the same GTFS? Maybe STA added routes and stops. We didn't change the build. Maybe a CPU limit?

[2021-11-18 14:05] RudiThoeni commented on #110
@rcavaliere  STA added routes and stops recently?
ok i will check for the 0byte graph.obj file.....

the calculation is still in progress ;)

[code]

[2021-11-18 15:57] RudiThoeni commented on #110
ok the graph calculation was out of memory  (after more than 2 hours i finally got this error ;))
[code]

so now i set the jJAVA_MX variable to the max of the server memory, and after 15 minutes all was done,

![image](https://user-images.githubusercontent.com/30471361/142450139-722ada28-49da-4a14-99c2-be365b82a493.png)

also the application works again,

@zabuTNT thank you for your support!

[2021-11-19 06:58] rcavaliere commented on #110
Just for info, the GTFS didn't change

[2021-11-23 12:47] #87 closed

[2021-11-23 12:48] #78 closed

[2021-11-23 12:50] #89 closed

[2021-11-23 12:50] #17 closed

[2021-11-23 12:50] #81 closed

[2021-11-26 09:00] #90 closed

[2021-12-06 21:25] rcavaliere opened #116 "On desktop the search of the current position does not work as expected"
https://user-images.githubusercontent.com/9825179/144925411-a222fd3a-5d9a-42e2-8041-dec7ad624ee4.mp4

[2021-12-06 21:30] rcavaliere opened #117 "Bike sharing option in the router seems to be not available"
https://user-images.githubusercontent.com/9825179/144925880-08c7d762-d99c-437e-a368-402764a60acb.mp4

[2021-12-09 06:42] rcavaliere opened #118 "As a project manager I would like to adapt the application for the domain mobility.bz.it"
We also host the domain https://mobility.bz.it/ It was actually the version of mobility.meran.eu but "adapted" for the Municipality of Bolzano. Our idea is to make something similar as for the Merano domain, i.e. if we access from this domain you get access to the same application but with some adaptations.
In particular:
- [ ]  attached logo to be visualized in the top left
- [ ] default starting

[2021-12-09 06:47] rcavaliere opened #119 "As a project manager I would like to track the accesses to the application through Google Analytics"
We would like to analyze how much the application is used now that we are in production.
Activities to be foreseen:
- [ ] enter the Google Analytics snippet somewhere in the code
- [ ] configure it with the NOI references (we can do this directly in the CI pipeline)

[2021-12-09 10:19] RudiThoeni opened #122 "Resources needed from OTP"
Hi

I wanted to ask what is your recommendation (RAM) for the OTP Application?

I am asking this because i constantly increased the resources, and now it seems that i have to do it again......
Actually on the test/prod server we use servers with 16GB of ram (on the test server about 80% of ram are free for otp)

I set the ram for java to use with the JAVA_MX environment variable..... At the beginn

[2021-12-09 10:23] RudiThoeni commented on #122
more info:

[code]

[2021-12-09 12:55] zabuTNT commented on #122
Hi Rudi,
I'll investigate on this.
This great use of memory seems strange. It is predictable when the graph is built, not when it is loaded.
Are you sure that you don't run multiple instances? Are you sure that the memory is not occupied by other processes?

[2021-12-09 13:41] RudiThoeni commented on #122
Hi @zabuTNT
Thanks for your answer....
My impression was always that with every deployment, the memory resources used increased........

There are not multiple instances running and the server when not deploying has not much resources used (30% memori 5-10% cpu)

You indicated the right place, graph.obj i think the problem is here ;)
![image](https://user-images.githubusercontent.com/30471361/1454

[2021-12-09 14:23] RudiThoeni commented on #122
i think the problem is in the graph calculation
https://github.com/noi-techpark/odh-mentor-otp/blob/master/infrastructure/docker/otp/docker-entrypoint.sh#L100

In the graph calculation pipeline this is called
`otp.sh --build /data` which has this inside `exec java -Xmx"$JAVA_MX" -jar /usr/local/share/java/otp.jar "$@"`

I think the problem is simply that for the Graph.obj there is not created a ne

[2021-12-09 16:08] RudiThoeni commented on #122
i deleted the Graph.obj file and restarted the graph calculation but it reached again filesize of 7.7 GB
[code]
I append the Graph calculation log, also there at the end an out of memory was thrown....
[logs.txt](https://github.com/noi-techpark/odh-mentor-otp/files/7686685/logs.txt)

[2021-12-09 17:43] zabuTNT commented on #122
Ok 7GB is really strange. The size of a Graph depends on the the static data that OTP find in the folder when it builds the graph. So please check how many maps (.osm.pbf), GTFS (zips) and altitude data (.tif) you have in the folder /data.

Most of the time, a big graph issue is caused by a lot of maps or a single one but really big (Europe maybe)

[2021-12-09 18:00] RudiThoeni commented on #122
ok that explains more ;)

currently in the data folder we have this data
@rcavaliere how can we now if there is unneeded/duplicate data inside?
If we need all this data and the graph file has to be this size there is no other way to scale up

[code]

on production we have this data
[code]
the graph there is about 6 GB ;)

[2021-12-09 18:09] RudiThoeni commented on #122
@rcavaliere  could it be that there are to many gtfs files?

examining gtfs_download.log this is the output..... maybe here we forgot to delete the old gtfs file?
That could be the explanation why this graph gets heavier with each day passes ;)

[code]

[2021-12-09 19:44] zabuTNT commented on #122
Yes, I think that the issue here is that the old GTFS files are not deleted. This way every day, every build, you have more and more repeated data inside the graph.

The map file is 3GB but this could be ok because is not compressed or filtered. A storage optimization could be filter the map in order to remove the unused object (i.e. buildings).

[2021-12-09 20:49] RudiThoeni commented on #122
thx, always happy when there are logic explanations ;) will fix it!

[2021-12-09 22:06] rcavaliere commented on #122
@RudiThoeni I confirm that we have too many GTFS files in this folder... just keep the latest version of it!

[2021-12-10 05:51] rcavaliere commented on #65
@stefanocudini I would like

[2021-12-10 07:08] zabuTNT commented on #122
One more thing, the file LatestGTFS.zip must be deleted, not only the files named gtfs_XXX, because probably is the cause of missing clustering on frontend.

STA added parent station inside gtfs after that date.

So if exists a gtfs without parent stations we will see on map: clusters (from the new gtfs) and single stops too(from this one)because OTP threat them as different elements because from

[2021-12-10 07:44] RudiThoeni commented on #122
thx @zabuTNT
Now on the testserver i deleted all the old gtfs_xx files, and added a logic to the script that deletes all old gtfs files if a new one is downloaded....
also latestGTFS.zip was deleted.
A graph calculation now is done in < 6 minutes, and the graph size is about 450 MB ;)

I deployed everything on the TEST Server, @rcavaliere  please have a look if all stations are inside then i will

[2021-12-10 08:01] zabuTNT commented on #117
Hi Roberto,
I already reported this on our fork:
https://github.com/openmove/odh-mentor-otp/issues/111

If you open Advanced Settings, you will see that Bikesharing is selected, but it's not clear.

[2021-12-10 08:06] rcavaliere commented on #122
@RudiThoeni @zabuTNT thanks to both, on testing it seems to be much better and cleaner. The complex stations have also all the detailed stop points, so I think we can put this on production.

[2021-12-10 08:07] zabuTNT commented on #116
It works to me, in our office (the provider is TIM Business), but could be a coincidence, because the cabinet is near the office.
![2021-12-10-090320_1330x732_scrot](https://user-images.githubusercontent.com/5268372/145538995-a73f400f-1965-4208-9ace-092310cdee7b.png)
On desktop the position is related and provided by ISP provider, so could be or not to be near you real position.

[2021-12-10 09:38] stefanocudini commented on #65
@rcavaliere
after the <img> close tag </a> is required

I can fix this in the next PR.

[2021-12-10 10:44] RudiThoeni commented on #122
ok fixed and everything on production now.......

[2021-12-10 17:12] rcavaliere commented on #116
OK

[2021-12-10 17:12] #116 closed

[2021-12-10 17:16] rcavaliere commented on #65
Ok, already seen. Thanks!

[2021-12-10 17:16] #65 closed

[2021-12-10 17:21] rcavaliere commented on #91
@stefanocudini the filter looks very nice! However all the available options on car sharing are very strange, I would expect as models "Golf", "Caddy", etc. and not all the different models details. What are you using there to consider the different vehicles' models?

[2021-12-13 13:58] stefanocudini commented on #91
hi @rcavaliere the problem is at the root in the api ODH cars models are not homogeneous and it is very difficult to write rules to group them:
https://mobility.api.opendatahub.bz.it/v2/flat%2Cnode/CarsharingCar?distinct=true&limit=500
look at **sname** field, this is the set of values:
[code]

[2021-12-13 21:55] rcavaliere commented on #91
@stefanocudini you should consider smetadata -> brand. In this way we obtain the desired result. Can you fix this?

[2021-12-15 13:25] RudiThoeni opened #127 "carsharing container fails to start after last PR"
Hi,

After the last PR (https://github.com/noi-techpark/odh-mentor-otp/pull/126) there is something wrong with the carsharing module.
The docker container for carsharing  is always restarting.

Here the application log
[otplog.txt](https://github.com/noi-techpark/odh-mentor-otp/files/7719623/otplog.txt)

for carsharing:
[code]

[2021-12-15 14:51] stefanocudini commented on #127
@RudiThoeni I'll solve it asap

[2021-12-15 17:16] rcavaliere commented on #91
@stefanocudini wonderful, now it works as expected. I have seen that there a couple of strings to be translated, I can do this.

[2021-12-15 17:16] #91 closed

[2021-12-16 11:25] stefanocudini commented on #118
@rcavaliere for this domain confirm this logo?
![](https://mobility.bz.it/images/mobility.png)

[2021-12-16 11:28] stefanocudini commented on #118
@rcavaliere should the above logo replace this?
![](https://mobility.bz.it/images/mobility.png)

[2021-12-16 12:11] rcavaliere commented on #118
@stefanocudini yes exactly. Where is the page title displayed?

[2021-12-16 13:44] stefanocudini commented on #118
at top left.
I'm slightly resizing the image logo for sizes limits

[2021-12-16 14:00] #127 closed

[2021-12-17 09:08] RudiThoeni opened #129 "Http Referer on calls to ODH"
Hi

We have a logging for all ODH calls where we group the calls by referer. I tested with http://journey.opendatahub.bz.it and i have seen that the http referer send to ODH is:

`json.output.referer | https://tourism.opendatahub.bz.it/api/ODHActivityPoi/?searchfilter=partsc&pagesize=5&language=de&poitype=447&active=true&fields=Id,Detail.de.Title,GpsInfo`

Strange that the whole call destination i

[2021-12-17 09:09] #122 closed

[2021-12-17 09:19] stefanocudini commented on #129
you are right!

[2021-12-17 13:41] stefanocudini commented on #129
I don't understoodd, trying to replicate the problem but it doesn't seem to me that the client is sending anything other than hostname:
![image](https://user-images.githubusercontent.com/47107/146552947-1bff45cd-8da8-4388-8904-d0fb1745a404.png)
and in background the geocoder service only sends this http header to the ODH api:
`"User-Agent": "OpenMove-Geocoder-Client"`

[2021-12-17 13:57] RudiThoeni commented on #129
very strange, i get the correct User-Agent in my logs but the referer is not right.....

![image](https://user-images.githubusercontent.com/30471361/146554640-46afe202-16fc-4142-9391-052c1c12a61a.png)

As you said The geocoder service does not pass the referer..... If it's not possible to fix/config on the geocoder side maybe i cann add a parameter which overwrites the header........

[2021-12-17 16:50] RudiThoeni commented on #129
What i mean is the call to odh is made from `https://geocoder.otp.opendatahub.testingmachine.eu/v1/autocomplete?text=partschin&lang=&boundary.rect.min_lat=46.18828&boundary.rect.min_lon=10.470121&boundary.rect.max_lat=47.08878&boundary.rect.max_lon=12.255011`
the referer is passed from journey -> geocoder but not from geocoder --> odh.......... Is it possible to (re-)set it manually on geocoder ba

[2021-12-17 17:49] stefanocudini commented on #129
currently the geocoder service does not send any additional headers other than the user-agent.
I think it is the http proxy that appends these headers.

what comes out of the geocoder towards api or dh are the following headers:
[code]

To verify this I'm replaced odh endpoint with ```nc -l -k -p 9090``` in my local geocoder config.

[2021-12-17 17:52] stefanocudini commented on #129
however we can config custom header in geocoder request here:
https://github.com/openmove/odh-mentor-otp/blob/master/geocoder/config.yml#L16

but I think that http proxy may be overwrite as it is currently doing

[2021-12-17 19:15] RudiThoeni commented on #129
Sorry, I overlooked that the requests are done to /api/ . ODH here does a redirect to /v1/ so i think the referer is overwritten/set by the redirect ;)

We can try the following
Set the ODH Endpoints from `https://tourism.opendatahub.bz.it/api/ODHActivityPoi/` to
`https://tourism.opendatahub.bz.it/v1/ODHActivityPoi/`
and we set a manually a referer like "https://journey.opendatahub.bz.it/" and it

[2021-12-17 21:21] RudiThoeni commented on #129
ok i set the ODH Endpoints to "v1" now no referer is passed
![image](https://user-images.githubusercontent.com/30471361/146609315-77812277-b36f-4d51-a64f-be7c2b170f32.png)

so let's set manually the referer header as environment variable next week

[2021-12-20 08:49] stefanocudini commented on #129
I sent this PR that inslude Google Analytics integration #130
I think you can also use this tool to track referrers

[2021-12-22 08:41] RudiThoeni commented on #129
hi @stefanocudini any news about how to set this headers config?
thx

[2021-12-24 11:07] stefanocudini commented on #129
@RudiThoeni send new PR about this here: https://github.com/noi-techpark/odh-mentor-otp/pull/132

[2021-12-30 18:03] RudiThoeni commented on #129
thx!

[2022-01-02 08:13] #119 closed

[2022-01-12 07:26] RudiThoeni commented on #129
working!

[2022-01-12 07:26] #129 closed

[2022-01-12 07:27] #96 closed

[2022-01-13 15:34] stefanocudini commented on #118
this solved and included in PR #134

to customize title for each domain, you can act here: in file /joruney/config.yml (any changes require a docker rebuild of journey)
https://github.com/noi-techpark/odh-mentor-otp/blob/8b8bd831add94614fcd490bbc7bfa61384a609c8/journey/config.yml#L26-L30
for example here the title is empty `''` and contains only logo

[2022-01-13 21:55] rcavaliere commented on #118
However if I go to mobility.bz.it. I still get opened the old application. @RudiThoeni did we integrate this in the productive development and made a rebuild of the application?

[2022-01-14 08:59] RudiThoeni commented on #118
hi rcavaliere, did not know about this.......
i have to redirect the domain to the new application, and deploy the latest PR to production currently it is only on dev? i always wait for your ok to deploy it on prod ;)

[2022-01-14 09:11] rcavaliere commented on #118
@RudiThoeni should be this PR: https://github.com/noi-techpark/odh-mentor-otp/pull/134 @stefanocudini right?
If yes, please proceed. For the moment I won't put into production the travel times functionality (see PR https://github.com/noi-techpark/odh-mentor-otp/pull/135)

[2022-01-14 16:59] RudiThoeni commented on #118
@rcavaliere yes i deployed PR134 on production and redirected mobility.bz.it,
maybe the zoom level should be increased because the stops are visible when you zoom in one step....

[2022-01-14 17:05] RudiThoeni commented on #118
Here i think there is a little bug
https://github.com/noi-techpark/odh-mentor-otp/blob/master/journey/config.yml#L33
always the default title Merano is taken

[2022-01-14 17:23] rcavaliere commented on #118
@RudiThoeni thanks, agree with your comment on the zoom level. But I don't know if this can be adapted for the different URLs... @stefanocudini can you provide a feedback on that?

[2022-01-14 17:24] RudiThoeni commented on #118
yes it is here ;)

[code]

[2022-01-17 09:47] stefanocudini commented on #118
yes this behavior is intended to show the stops only when there is a sufficient zoom level otherwise they are too close

instead, the initial zoom for the mobility.bz.it domain can be adapted to ensure that stops are immediately visible

[2022-01-17 14:51] stefanocudini commented on #118
@RudiThoeni  yes I noticed this little bug I have the solution are a few lines .... but from some branch can I send you a PR for this thing? our fork (development branch) now includes also the traffic layer.

if it is not an urgent thing I can include it together with the next PR which also includes changes on the traffic layer

[2022-01-17 14:56] RudiThoeni commented on #118
the best is if this is inside the next PR with changes on traffic layer... otherwise we have a some confusion and we have to cherry pick commits to deploy etc....
@rcavaliere when are we ready to deploy also the traffic layer on production?

[2022-01-17 15:02] stefanocudini commented on #118
about this I will add details under dedicated PR to the traffic layer #135

[2022-01-18 16:11] #98 closed

[2022-01-18 21:39] rcavaliere opened #139 "As an end-user I would like to see the timestamp of the real-time values provided by the Open Data Hub, so to understand if the provided values are "fresh" or old"
** Future development **
Currently we don't provide users about when the last information were updated (no timestamp indicated). We should insert into the tooltip the timestamp associated to the measurement (field "mvalidtime" in the API)

[2022-01-18 21:46] rcavaliere opened #140 "As an end-user I would like to don't see in the trip search results the Global ID of the stops"
** Future enhancement**
Based on comments from SBB, see screenshot below. Global ID is not useful for the end-users...

[2022-01-21 09:37] #117 closed

[2022-03-22 21:16] #86 closed

[2022-03-22 21:19] #118 closed

[2022-07-05 12:24] Piiit commented on #75
@RudiThoeni FYI

[2022-07-08 15:33] RudiThoeni opened #145 "Removing Google Analytics"
Hi @stefanocudini

We want to remove Google Analytics from the frontend application.

Removing this 3 lines should do the work?  https://github.com/noi-techpark/odh-mentor-otp/blob/main/journey/config.yml#L48
Or are there other places where google analytics is present.?

We noticed that on https://journey.opendatahub.bz.it/ there is only the script active (<script async="" src="https://www.google-

[2022-07-11 08:42] stefanocudini commented on #145
@RudiThoeni
(I tried to send in simple PR but I can't find your develop branch anymore)

However yes the insertion of google analytics takes place only one part of config.yml

you could apply this small change to be sure the google script doesn't have to load
https://github.com/openmove/odh-mentor-otp/commit/fe9e1c7f39d13438d5a7c7cffcaaff8185cc0e48

[2022-07-12 13:01] RudiThoeni commented on #145
@stefanocudini sorry i saw now your closed pull request (https://github.com/noi-techpark/odh-mentor-otp/pull/146)
i see here 51 commits that are not integrated on our repo, should i reopen the PR and add this changes? I suppose yes?

Another question i deployed on the test entironment and i noticed the container for traffic is unhealthy and constantly restarting, i think this is due to this except

[2022-07-12 13:07] rcavaliere commented on #145
@RudiThoeni thanks for the notice. I think the problem is related to the fact that we have a major problem with the Bluetooth elaborations pipeline. I asked @dulvui to check this. Once this issue is solved, this should work again off-the-shelf

[2022-07-12 13:19] RudiThoeni commented on #145
thank you, let's wait Simon return

[2022-07-13 08:40] RudiThoeni commented on #145
@stefanocudini Now we have the situation that the container is constantly restarting, the error is causing the container to exit with statuscode 1. because LinkStation does not exist in the response....
Maybe we should fix it, very strange that this error causes the container to stop?

`/home/index.js:100
                let stations = tmp['data']['LinkStation']['stations'];

[2022-07-13 08:49] stefanocudini commented on #145
@RudiThoeni I hope to deal with it as soon as possible.

It was caused by the continuous polling that is performed by our service towards the API which now  not responding.

[2022-07-14 14:32] RudiThoeni opened #148 "Using Matomo instead of Google Analytics & Cookie Banner"
Hi @stefanocudini

1. We want to use Matomo instead of Google analytics
https://digital.matomo.cloud/
Site ID: 20

Maybe there is a React plugin? The result should be to integrate this script in the page (already populated with siteId 20)

[code]

2. We want to use a new cookie banner

https://www.npmjs.com/package/vanilla-cookieconsent

on the page bottom there is a "how to use in react" section.

[2022-08-09 07:05] RudiThoeni commented on #148
hi @stefanocudini
We tried to add Matomo but it was not that straightforward and we had to make some changes to the code
(https://github.com/noi-techpark/odh-mentor-otp/commit/e912e9e0a88b97b293d3734c154802181f90fe18)

We had to change the journey/src/app.js
`class JourneyWebapp extends Component {`
to
`const JourneyWebapp = ({t}) => {`

@henri-egger explains why he did this changes (he is our new

[2022-08-09 07:16] henri-egger commented on #148
For implementing the plugin i first destructured the return value uof useMatomo, which itself is a hook. Then i use the destructured method in a lifecycle method, here useEffect. I was not able to Replicate this with a class component, as the useMatomo hook can only be used outside of other hooks, but there no variable declaration can be made.

Working example:
[code]
Throws error:
[code]
or
[code

[2022-08-09 10:29] stefanocudini commented on #148
hi I was doing some things here:
https://github.com/openmove/odh-mentor-otp/tree/integration-matomo

I think it's complete but I haven't had a chance to test
(using a react component)

[2022-08-09 14:10] henri-egger commented on #148
hi @stefanocudini,
I took a look at your code but i don't think it would send a call for two reasons, but please correct me if I'm wrong.
1. In the matomoInstance:
    - urlBase should be "https://digital.matomo.cloud/", not the window's url.
    - I don't think the siteId will be set to 20 with this syntax but I am not certain.
 2. The useMatomo hook is never called.
 I am unfortunately not able

[2022-08-10 14:52] RudiThoeni commented on #148
@stefanocudini now @henri-egger has managed to integrate matomo and the cookie banner as react component.
so he reverted the changes to the code made before....

if you are ok with this changes
https://github.com/noi-techpark/odh-mentor-otp/commit/de0c2cf98d69e7aa755e186266f36544229a1056
https://github.com/noi-techpark/odh-mentor-otp/commit/fc00bae8a490b19a8b0e1ab5c6fe6fc12a1e8c95
this issue is do

[2022-08-10 15:25] stefanocudini commented on #148
hi @RudiThoeni

I saw your integrations if you did test with Matomo counter, api key ecc I think it's ok.
but there are some important points for us:

1) you should make sure that Matomo can be disabled from configuration(config.yml) because we still use GoogleAnalitycs, it would be useful to keep a generic code base. One way to do this you can see the simple logic here:
https://github.com/openmov

[2022-08-11 11:37] RudiThoeni commented on #148
Hi @stefanocudini

Thank you for your detailed feedback. You figured out good points,

1. Now thx to @henri-egger managed to add the matomo configurable via environment variables.  (https://github.com/noi-techpark/odh-mentor-otp/commit/7b651718f7147d71b6dc6607d176485fcfc66f51)
2. dotenv is still there don't know why it shifted down on line 56 (https://github.com/noi-techpark/odh-mentor-otp/commit/

[2022-08-11 15:51] stefanocudini commented on #148
@RudiThoeni great!
yes, as I wrote here the server side services does not give problems:
https://github.com/noi-techpark/odh-mentor-otp/pull/150

now I done a quick check of the journey and it works fine
I don't think I can do localhost tests of the matomo counter, that you will see once in prod domain.

it seems great to me
tnks,
Stef

[2022-09-16 09:45] rcavaliere opened #154 "mobility.bz.it / mobility.meran.eu not responsive?"
@stefanocudini @RudiThoeni are the applications that I am seeing when I open the application through mobile device the same as when I open through a browser? I don't think so. For example mobility.bz.it on mobile does not show the logo of the Municipality of Bolzano. Can you please check?

[2022-09-16 10:08] RudiThoeni commented on #154
The applications are the same, but strange on the mobile browser it shows to me the meran logo both on mobility.bz.it and mobility.meran.eu............ on the normal browser it works

[2022-09-16 10:16] RudiThoeni commented on #154
i think on mobile the element
`<img class="brandLogo" src="data:image/png;base64,.....">` is hidden and only the text in
`<span class="navbar-brand">Merano <span>BETA</span></span>`
is shown

it is testable also with chrome dev tools using the mobile mode + Refresh...

![image](https://user-images.githubusercontent.com/30471361/190616523-22bc7571-fcc3-4666-9767-63dbce8416c8.png)

[2022-09-21 11:15] rcavaliere commented on #75
I have finally registered and created an APPID.
I have seen that it is not possible to create an APPCODE, see https://developer.here.com/documentation/identity-access-management/dev_guide/topics/dev-appcode.html
I have instead created an APPKEY that we probably need to use.
@stefanocudini can you check if we need to adapt something since HERE does not support APPCODE anymore?
@RudiThoeni how shoul

[2022-09-27 07:37] #145 closed

[2022-09-27 08:13] #148 closed

[2022-10-13 21:03] rcavaliere commented on #75
@RudiThoeni in testing seems to work fine. Let's put this new version in production!

[2022-10-13 21:32] RudiThoeni commented on #75
done

[2022-10-14 04:52] #75 closed

[2022-10-27 16:25] rcavaliere commented on #154
@stefanocudini can you have a look at this when you have time? Thanks!

[2022-10-28 13:48] stefanocudini commented on #154
we are trying to fix this with other fixes inside journey, we should include it in one of the next PRs